
@{
    ViewBag.Title = "Bank Reconciliation Data";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var _repository = new CRIMAS.Repository.artifacts.Repository<CRIMAS.Models.BankReconciliation>();
    
    IEnumerable<CRIMAS.Models.BankReconciliation> reconciliations = _repository.GetAll()
              .Where(x => x.dateCreated.Month == DateTime.Now.Month).ToList();

}
<link href="~/Content/material-responsive-table.css" rel="stylesheet" />
<div id="demo">
   @* <h1>Material Design Responsive Table</h1>*@
    <p style="text-align:center; font-size:10pt; margin-top:5em; margin-bottom:2em;">
        <a style="background:#7e57c2 " href="~/ExportData/ExportReconciliationData" class="btn btn-primary">Export reconciliation data</a>
        <a style="background:#7e57c2; " href="~/Reconciliation" class="btn btn-primary">cancel</a>
    </p>

    <h2>Bank Reconciliation as at @DateTime.Now.ToLongDateString()</h2>
   
    <!-- Responsive table starts here -->
    <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
    <div class="table-responsive-vertical">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue striped" >
            <thead>
                <tr style="font-size:9pt; ">
                    <th>s/no</th>
                    <th>Date</th>
                    <th>Beneficiary</th>
                    <th>Deposit(NGN)</th>
                    <th>Interest Capital(%)</th>
                    <th>Recovery Loan(NGN)</th>
                    <th>Loans(NGN)</th>
                    <th>Transfer Fee(NGN)</th>
                    <th>VAT(%)</th>
                    <th>SMS Charges(NGN)</th>
                    <th>Withholding Tax(%)</th>
                    <th>Other Charges</th>
                    <th>Per Capital Commission</th>
                    <th>Credit</th>
                    <th>Debits</th> 
                </tr>
            </thead>
            <tbody>
                @{
                    int sn = 1;
                    foreach (var item in reconciliations)
                    {
                        
                        <tr>
                            <td data-title="s/no">@sn</td>
                            <td data-title="Date">@item.dateCreated</td>
                            <td data-title="Beneficiary"> @item.beneficiary</td>
                            <td data-title="Deposit(NGN)"> @item.deposit</td>
                            <td data-title="INT CAP (%)">@item.int_cap</td>
                            <td data-title="Recovery Loan(NGN)">@item.recovery_loan</td>
                            <td data-title="Loans(NGN)">@item.loans</td>
                            <td data-title="Transfer Fee(NGN)">@item.transfer_fee</td>
                            <td data-title="VAT(%)">@item.VAT</td>
                            <td data-title="SMS Charges(NGN)">@item.sms_charge</td>
                            <td data-title="Withholding Tax(%)">@item.with_holding_tax</td>
                            <td data-title="Other Charges">@item.other_charges</td>
                            <td data-title="Per Capital Commission">@item.per_cap_com</td>
                            <td data-title="Credit(NGN)">@item.credits</td>
                            <td data-title="Debits(NGN)">@item.debits</td>
                        </tr>
                        sn = sn + 1;
                    }
                }
               

            </tbody>

        </table>
    </div>
   
</div>


@*<div class="table-responsive-vertical shadow-z-1">
    <h1>
        Bank Reconciliation Data
    </h1><hr>
    <table class="table table-hover table-mc-light-blue" style="font-size:10pt;">
        <tr>
            <td>s/no</td>
            <td>Date</td>
            <td>Beneficiary</td>
            <td>Deposit(NGN)</td>
            <td>INT CAP (%)</td>
            <td>Recovery Loan(NGN)</td>
            <td>Loans(NGN)</td>
            <td>Transfer Fee(NGN)</td>
            <td>VAT(%)</td>
            <td>SMS Charges(NGN)</td>
            <td>Withholding Tax</td>
            <td>Other Charges</td>
            <td>Per Capital Commission</td>
            <td>Credit</td> 
            <td>Debits</td> 
        </tr>
    </table>
</div>*@


