

@*this layout is for administrative user only*@
@using CRIMAS.Models;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CRIMAS-MPCS Ltd. Web Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="~/Content/materialize-v0.97.1/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/SiteUpdate.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Content/materialize-v0.97.1/js/materialize.js"></script>

</head>
<body style="font-family:'Segoe UI'">
    @{
        var db = new CrimasDb();

        string id = User.Identity.Name.ToString();
        //string role = User.ro

        var nFirstName = from s in db.UserProfiles where s.UserName == id select s.FirstName;

        var nLastName = from s in db.UserProfiles where s.UserName == id select s.LastName;
    }
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper" style="padding-left:10px; padding-right:20px; background-color:#01579b">
                    <a href="#!" class="brand-logo">Logo</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <form method="get" action="~/Customer/FindCustomer">
                                <div class="input-field">
                                    <input style="width:400px;" id="searchString" name="searchString" type="search" placeholder="find customers.....enter name or account no." required>
                                    <label for="search">
                                        <img src="~/Images/Search_1-WF.png" />
                                    </label>
                                    @*<i class="material-icons">close</i>*@
                                </div>
                            </form>
                        </li>
                        @*<li>
                                <a href="badges.html">
                                    <i class="small material-icons">message</i>
                                </a>
                            </li>*@
                        <li>
                            <a class="task-collapse" data-activates="task-listings" href="collapsible.html">
                                @*  <i class="small material-icons">perm_identity</i>*@
                                <img src="~/Images/User Profile 1-WF(1).png" />
                            </a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="task-listings">
                        <li>
                            <b style="color:black ">Account Settings</b><hr />
                        </li>
                        <li><a class="" href="~/Account/Manage">Change password</a></li>
                        <li>@Html.Partial("_LoginPartial")</li>

                    </ul>
                    <ul class="side-nav" id="mobile-demo" style="padding-top:3em; background:whitesmoke;">
                        <li class="logo">
                            <img src="~/Images/Crimas-header.png" />

                            <div>
                                <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()</label>
                                <hr />
                            </div>

                        </li>
                        <li class="bold">
                            <a href="~/">
                                <img src="~/Images/Home-WF(1).png" />Home
                            </a>
                        </li>
                        <li class="bold">
                            <a href="~/Loan/">
                                <img src="~/Images/loan-agr.png" />Loan agreements
                            </a>
                        </li>
                        <li class="bold">
                            <a href="~/IncomeAnalysis" class="waves-effect waves-teal">
                                <img src="~/Images/Coin-01-WF.png" /> Income Analysis
                            </a>
                        </li>
                        <li class="bold">
                            <a class="waves-effect waves-teal" href="~/Customer/FindCustomer?searchString=+">
                                <img src="~/Images/User Profile 1-WF.png" />Customer
                            </a>
                        </li>
                        <li class="bold">
                            <a class="waves-effect waves-green" href="~/CustomerSavings/EnterAccount">
                                <img src="~/Images/User Ok-01-WF.png" />Customer Account
                            </a>
                        </li>
                        <li class="bold">
                            <a class="waves-effect waves-green" href="~/Home/Cashier">
                                <img src="~/Images/Calender Refresh-WF.png" />Daily Transaction
                            </a>
                        </li>
                        @*<li class="bold">
                                <a class="waves-effect waves-green" href="~/RateableRegister">
                                    <img src="~/Images/Gift-WF.png" />Rateable Register
                                </a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="nav-mobile" class="side-nav fixed scrollbar" style="width: 340px; padding-top:3em;">

            <li class="logo">
                <img src="~/Images/Crimas-header.png" />

                <div>
                    <label style="color:black; font-weight:normal; font-style:italic">Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()</label>
                    <hr />
                </div>

            </li>
            <li class="bold">
                <a href="~/">
                    <img src="~/Images/Home-WF(1).png" />Home
                </a>
            </li>
            <li class="bold">
                <a href="~/Loan/">
                    <img src="~/Images/loan-agr.png" />Loan agreements
                </a>
            </li>
            <li class="bold">
                <a href="~/IncomeAnalysis" class="waves-effect waves-teal">
                    <img src="~/Images/Coin-01-WF.png" /> Income Analysis
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-teal" href="~/Customer/FindCustomer?searchString=+">
                    <img src="~/Images/User Profile 1-WF.png" />Customer
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-green" href="~/CustomerSavings/EnterAccount">
                    <img src="~/Images/User Ok-01-WF.png" />Customer Account
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-green" href="~/Home/Cashier">
                    <img src="~/Images/Calender Refresh-WF.png" />Daily Transaction
                </a>
            </li>
            @*<li class="bold">
                    <a class="waves-effect waves-green" href="~/RateableRegister">
                        <img src="~/Images/Gift-WF.png" />Rateable Register
                    </a>
                </li>*@

        </ul>
    </header>
    <main>

        <div class="cashier-main">

            @RenderBody()
        </div>


    </main>
    <footer style="margin-top:20em;">
        <div>
            <hr />
            <p style="font-size: 9pt; text-align: center">&copy; Digital Forte Enterprise Systems Limited @DateTime.Now.Year.ToString().</p>
        </div>

    </footer>


    <script>
        $(".button-collapse").sideNav();
        $(".task-collapse").sideNav({
            menuWidth: 300, // Default is 240
            edge: 'right', // Choose the horizontal origin
            //closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });


        //$('select').material_select();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>

@*this layout is for administrative user only*@
@*<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CRIMAS-MPCS Ltd. Web Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
</head>
<body>
    <div class="container-narrow">
        <div class="masthead">
            @Html.Partial("_LoginPartial")
            <h3 class="muted">
                <img src="~/windows8_icons/User_Role/reviewer/reviewer-32.png" style="margin-right: 10px;" /><b>Administrator</b></h3>
        </div>
        <hr />
        <div class="dashHead">You are logged in as <b>@User.Identity.Name.ToString()</b></div>
        <div class="span10">
            <div class="span3">
                <div class="well" style="padding: 8px 0; border: 1px solid #C0C0C0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Admin Services</li>
                        <li><a href="~/Home/admin">Admin home</a></li>
                     
                        <li><a href="~/Admin/SecurityAndConfiguration" title="Enables you to set up and edit users, roles, and access permissions.">Security & Configuration</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="span6" style="border-style: solid; border-color: AppWorkspace; border-width: 1px; min-height: 300px;">
                <div class="security-header" title="Enables you to set up and edit users, roles, and access permissions.">
                    <p class="heading">
                        <img src="~/Images/glyphicons/png/glyphicons_137_cogwheels.png" style="margin-right: 10px;" />
                        <b>Administrative Services Dashboard</b>
                    </p>
                    @* <span> Enables you to set up and edit users, roles, and access permissions for your site.  </span>*@
                @*</div>
                  @RenderBody()
            </div>
        </div>
        <div class="footer span10" style="margin-top: 5%">
            <hr />
            <p style="font-size: 9pt; text-align: center">&copy; CRIMAS MPCS Limited 2013. Designed & Engineered by <a href="#">Digital Forte Enterprise Systems Limited</a></p>
        </div>
    </div>

</body>
</html>*@

