@*this layout is for cashier users only*@
@using CRIMAS.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CRIMAS-MPCS Ltd. Web Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize-v0.97.1/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/SiteUpdate.css" rel="stylesheet" />
    <link href="~/Content/SiteUpdate-responsive.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Content/materialize-v0.97.1/js/materialize.js"></script>
    <link href="~/Content/validetta-v1.0.1-dist/validetta.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        #searchString {
            background: #fff !important;
            margin: 0 !important;
            color: gray;
            width: 400px;
            height: 64px;
        }

        nav .input-field label {
            top: 10px !important;
            left: 10px !important;
        }
    </style>
</head>
<body style="font-family:'Segoe UI'">
    @{
        var db = new CrimasDb();

        string id = User.Identity.Name.ToString();

        var nFirstName = from s in db.UserProfiles where s.UserName == id select s.FirstName;

        var nLastName = from s in db.UserProfiles where s.UserName == id select s.LastName;
    }
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper" style="padding-left:10px; padding-right:20px; background-color:#01579b">
                    <a href="~/" class="brand-logo">Crimas MPCS-MS</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="~/Images/Menu-01-WF.png" /> </a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <form method="get" action="~/Customer/FindCustomer">
                                <div class="input-field">
                                    <input style="width:400px;" id="searchString" name="searchString" type="search" placeholder="find customers.....enter name or account no." required>
                                    <label for="search">
                                        <img src="~/Images/Search_1-WF.png" />
                                    </label>
                                    @*<i class="material-icons">close</i>*@
                                </div>
                            </form>
                        </li>
                        <li>
                            <a class="task-collapse" data-activates="task-listings" href="collapsible.html">
                                @*  <i class="small material-icons">perm_identity</i>*@
                                <img src="~/Images/User Profile 1-WF(1).png" />
                            </a>
                        </li>
                    </ul>
                    <ul class="side-nav" id="task-listings">
                        <li>
                            <b style="color:black ">Account Settings</b><hr />
                        </li>
                        <li><a class="" href="~/Account/Manage">Change password</a></li>
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo" style="padding-top:3em; background:whitesmoke; padding-bottom:15em;">
                        <li>
                            @*  <img src="~/Images/Crimas-header.png" />*@
                            <div>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault() <b style="color:orangered">[Administrator]</b></label>
                                    }
                                    else
                                    {
                                        <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()</label>
                                    }
                                }
                                <a class="" href="~/Account/Manage">Change password</a>
                                @Html.Partial("_LoginPartial")
                                <hr />
                            </div>
                        </li>
                        <li>
                            <form method="get" action="~/Customer/FindCustomer">
                                <div class="input-field">
                                    <input style="width:400px;" id="searchString" name="searchString" type="search" placeholder="find customers.....enter name or account no." required>
                                    <label for="search">
                                        <img src="~/Images/Search_1-WF.png" />
                                    </label>
                                    @*<i class="material-icons">close</i>*@
                                </div>
                            </form>
                        </li>
                        <li class="bold">
                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    <a href="~/Home/admin">
                                        <i class="fa fa-home" aria-hidden="true"></i>Home
                                    </a>
                                }
                                else
                                {
                                    <a href="~/Home/cashier">
                                        <i class="fa fa-home" aria-hidden="true"></i>Home
                                    </a>
                                }
                            }
                        </li>

                        <li class="bold no-padding" style="margin-bottom:1em">
                            <ul class="collapsible collapsible-accordion">
                                <li>
                                    @*  <a class="collapsible-header"><img src="~/Images/loan-agr.png" />Loan management</a>*@
                                    <a class="collapsible-header"><i class="fa fa-bolt" aria-hidden="true"></i> Loan management</a>

                                    <div class="collapsible-body">
                                        <ul>
                                            <li>

                                                <a href="~/Loan/">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Loan agreements
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/LoanTransaction/Create/">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>  Loan deductions
                                                </a>
                                            </li>
                                            <li>
                                                <a href="~/Loan/history">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>  Loan History
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </li>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <li class="bold">
                                    <a href="~/IncomeAnalysis" class="waves-effect waves-teal">
                                        <i class="fa fa-line-chart" aria-hidden="true"></i> Income Analysis
                                    </a>
                                </li>
                            }
                        }
                        <li class="bold">
                            <a class="waves-effect waves-teal" href="~/Customer/Index">
                                <i class="fa fa-users" aria-hidden="true"></i>Customers
                            </a>
                        </li>
                        <li class="bold">
                            <a class="waves-effect waves-green" href="~/CustomerSavings/EnterAccount">
                                <i class="fa fa-server" aria-hidden="true"></i>Customer Savings
                            </a>
                        </li>
                        @{
                            if (User.IsInRole("Admin"))
                            {

                                <li class="bold">
                                    <a class="waves-effect waves-green" href="~/AddUser">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>User access management
                                    </a>
                                </li>
                            }
                        }
                        <li class="bold">
                            <a class="waves-effect waves-green" href="~/Reconciliation">
                                <i class="fa fa-undo" aria-hidden="true"></i>Bank reconciliation
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>

        @*Displays on Desktop*@
        <ul id="nav-mobile" class="side-nav fixed scrollbar" style="width: 340px; padding-top:3em; padding-bottom:15em;">

            <li class="logo">
                <h4 style="color:#01579b; padding-bottom:20px;">CRMPCS <small><i><b>Portal</b></i></small></h4>
                @*   <img src="~/Images/Crimas-header.png" style="width:200px; height:auto;" />*@
                @* <img src="~/Images/Denari.png" />*@
            </li>
            <li class="logo">
                @*  <img src="~/Images/Crimas-header.png" />*@
                <div>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault() <b style="color:#01579b">[Administrator]</b></label>

                        }
                        else
                        {
                            <label>Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()</label>

                        }
                    }
                    <hr />
                </div>
            </li>
            <li class="bold">
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <a href="~/Home/admin">
                            <i class="fa fa-home" aria-hidden="true"></i>Home
                        </a>
                    }
                    else
                    {
                        <a href="~/Home/cashier">
                            <i class="fa fa-home" aria-hidden="true"></i>Home
                        </a>
                    }
                }
            </li>

            <li class="bold no-padding" style="margin-bottom:1em">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        @*  <a class="collapsible-header"><img src="~/Images/loan-agr.png" />Loan management</a>*@
                        <a class="collapsible-header"><i class="fa fa-bolt" aria-hidden="true"></i> Loan management</a>

                        <div class="collapsible-body">
                            <ul>
                                <li>

                                    <a href="~/Loan/">
                                        <i class="fa fa-plus" aria-hidden="true"></i> Loan agreements
                                    </a>
                                </li>
                                <li>
                                    <a href="~/LoanTransaction/Create/">
                                        <i class="fa fa-plus" aria-hidden="true"></i>  Loan deductions
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Loan/history">
                                        <i class="fa fa-plus" aria-hidden="true"></i>  Loan History
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </ul>

            </li>
            @{
                if (User.IsInRole("Admin"))
                {
                    <li class="bold">
                        <a href="~/IncomeAnalysis" class="waves-effect waves-teal">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Income Analysis
                        </a>
                    </li>
                }
            }
            <li class="bold">
                <a class="waves-effect waves-teal" href="~/Customer/Index">
                    <i class="fa fa-users" aria-hidden="true"></i>Customers
                </a>
            </li>
            <li class="bold">
                <a class="waves-effect waves-green" href="~/CustomerSavings/EnterAccount">
                    <i class="fa fa-server" aria-hidden="true"></i>Customer Savings
                </a>
            </li>
            @{
                if (User.IsInRole("Admin"))
                {

                    <li class="bold">
                        <a class="waves-effect waves-green" href="~/AddUser">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>User access management
                        </a>
                    </li>
                }
            }
            <li class="bold">
                <a class="waves-effect waves-green" href="~/Reconciliation">
                    <i class="fa fa-undo" aria-hidden="true"></i>Bank reconciliation
                </a>
            </li>
        </ul>
    </header>
    <main>
        <div class="cashier-main">
            @RenderBody()
        </div>
    </main>
    <footer style="margin-top:20em;">
        <div>
            <hr />
            <p style="font-size: 9pt; text-align: center">
                <img src="~/Images/logo 8.png" style="width:150px; height:auto;" /><br />
                &copy;  Digital Forte Enterprise Systems Limited @DateTime.Now.Year.ToString().
            </p>
        </div>
    </footer>
    <script>
        $(".button-collapse").sideNav({
            menuWidth: 500,
        });
        $(".task-collapse").sideNav({
            menuWidth: 300, // Default is 240
            edge: 'right', // Choose the horizontal origin
            //closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

        //$('select').material_select();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });


    </script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/material-design-table.js"></script>

    <script src="~/Scripts/AjaxScripts/BankReconciliation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
