@*this layout is for cashier users only*@
@using CRIMAS.Models;
@using System.Globalization;
@using System.Threading;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Denari Cooperative Business Management Platform</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="~/Content/materialize-v0.97.1/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons-2.0.1/css/ionicons.min.css" rel="stylesheet" />

    <link href="~/css/denari.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>

    <script src="~/Content/materialize-v0.97.1/js/materialize.js"></script>
    <script src="~/Content/sweetAlert/sweetalert.min.js"></script>

    <link href="~/Content/validetta-v1.0.1-dist/validetta.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sweetAlert/sweetalert.css" rel="stylesheet" />
    <style>
        #searchString {
            background: #fff !important;
            margin: 0 !important;
            color: gray;
            width: 400px;
            height: 64px;
        }

        nav .input-field label {
            top: 10px !important;
            left: 10px !important;
        }
    </style>
</head>
<body style="font-family:'Segoe UI'">
    @{

        //Set Culture info for currency
        CultureInfo cultureInfo = new CultureInfo("en-US");
        cultureInfo.NumberFormat.CurrencySymbol = "₦";

        Thread.CurrentThread.CurrentCulture = cultureInfo;


        var db = new CrimasDb();

        string id = User.Identity.Name.ToString();

        var nFirstName = from s in db.UserProfiles where s.UserName == id select s.FirstName;

        var nLastName = from s in db.UserProfiles where s.UserName == id select s.LastName;
    }
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper" style="padding-left:10px; padding-right:20px; background-color:#01579b">
                    <a href="~/" class="brand-logo">                
                        <img src="~/Images/denari-logo-wihite.jpg" style="width:120px; height:auto;" />
                    </a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><img src="~/Images/Menu-01-WF.png" /> </a>
                
                    <!--Side Menu for Mobile-->
                    @Html.Partial("_mobileSideMenuPartial")
                </div>
            </nav>
        </div>

       <!--Side Menu for Desktop-->
        @Html.Partial("_desktopSideMenuPartial")
    </header>
    <main>
        <div class="cashier-main">
            @RenderBody()
        </div>
    </main>
    @*<footer style="margin-top:20em;">
        <div>
            <hr />
            <p style="font-size: 9pt; text-align: center">
                <img src="~/Images/logo 8.png" style="width:150px; height:auto;" /><br />
                &copy;  Digital Forte Enterprise Systems Limited @DateTime.Now.Year.ToString().
            </p>
        </div>
    </footer>*@
    <script>
        $(".button-collapse").sideNav({
            menuWidth: 500,
        });
        $(".task-collapse").sideNav({
            menuWidth: 300, // Default is 240
            edge: 'right', // Choose the horizontal origin
            //closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

        //$('select').material_select();
        $('.collapsible').collapsible({
            accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });


    </script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/material-design-table.js"></script>

    <script src="~/Scripts/AjaxScripts/BankReconciliation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
