
@*this layout is for administrative user only*@
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CRIMAS-MPCS Ltd. Web Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-narrow">
        <div class="masthead">
            @Html.Partial("_LoginPartial")
            <h3 class="muted">
                <img src="~/windows8_icons/User_Role/reviewer/reviewer-32.png" style="margin-right: 10px;" /><b>Administrator</b></h3>
        </div>
        <hr />
        <div class="dashHead">You are logged in as <b>@User.Identity.Name.ToString()</b></div>
        <div class="span10">
            <div class="span3">
                <div class="well" style="padding: 8px 0; border: 1px solid #C0C0C0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Admin Services</li>
                        <li ><a href="~/Home/admin">Admin home</a></li>
                        @*<li class="nav-header">Profile Settings</li>*@
                       @* <li><a href="/AddUser/Create">
                            <img src="~/windows8_icons/Decisions/good_decision/good_decision-26.png" style="margin-right: 13px;" />Add new user</a></li>*@
                        <li><a href="~/Admin/SecurityAndConfiguration" title="Enables you to set up and edit users, roles, and access permissions.">
                            Security & Configuration</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="span6" style="border-style: solid; border-color: AppWorkspace; border-width: 1px; min-height: 300px;">
                @RenderBody()
            </div>
        </div>
        <div class="footer span10" style="margin-top: 5%">
            <hr />
            <p style="font-size: 9pt; text-align: center">&copy; CRIMAS MPCS Limited 2013. Designed & Engineered by <a href="http://www.muzeolanigeria.com">muzeola nigeria Ltd.</a></p>
        </div>
    </div>

</body>
</html>
