@model CRIMAS.Models.CustomerSavings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerSavings</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Credit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Credit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Debit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Debit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Transactionby)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transactionby)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
