@*@model IEnumerable<CRIMAS.Models.CustomerSavings>*@
@*@model IEnumerable<CRIMAS.Models.ViewModels.CheckAccountViewModel>*@
    @using CRIMAS.Models;
    @using System.Globalization;
    @using System.Threading;

    @{
        ViewBag.Title = "CheckAccount";
        Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";


        var savingsTransactions = Model.orderedCustomerSavings;
        
        //var accountno 
        var acc = Convert.ToString(Model.account);

        //var dateCreated 
        var name = Model.name;

        //Sum up all credits and debits;
        decimal totalCredits = 0;
        decimal totalDebits = 0;
        foreach (var saving in Model.customerSavings)
        {
            totalCredits = totalCredits + saving.Credit;
            totalDebits = totalDebits + saving.Debit;
        }

        var balance = (totalCredits - totalDebits);

        //var total_dividend =  db.Dividends.Where(x => x.accountNo == acc).Select(x => x.amount).Sum() ?? 0;
        var total_dividend = Model.total_dividend;
        var net_total = (balance + total_dividend);

        //Set Culture info for currency
        CultureInfo cultureInfo = new CultureInfo("en-US");
        cultureInfo.NumberFormat.CurrencySymbol = "₦";

        Thread.CurrentThread.CurrentCulture = cultureInfo;

    }
    <div style="width:70%; margin-left:auto; margin-right:auto;">
        @{
            <!--Customer profile-->
            var customer = Model.customer;
            <h3 style="text-align:left;">
                @{
                    try
                    {

                        if (!customer.image.Equals(null))
                        {

                            <span style="font-size:16pt; font-family: 'Raleway', sans-serif; text-transform:capitalize; ">
                                <img class="cust-img card-panel hoverable" src="~/Customer/RetrieveImage/@customer.CustomerId" />
                                <b style="margin-top:-2em;">
                                    @name [A/c:  <b style="font-size:14pt;">@acc</b>]
                                </b>
                        </span>
                        }
                        else
                        {
                            <img class="cust-img card-panel hoverable" src="~/images/user-48.png" />
                            <span style="font-size:16pt; font-family: 'Raleway', sans-serif; text-transform:capitalize">
                                <b>
                                    @name [A/c: <b style="font-size:14pt;">@acc</b>]
                                </b>
                            </span>
                        }
                    }
                    catch
                    {
                        <img class="cust-img card-panel hoverable" src="~/images/user-48.png" />
                        <span style="font-size:16pt; font-family: 'Raleway', sans-serif; text-transform:capitalize">
                            <b style="margin-top:-2em;">@name [A/c: <b style="font-size:14pt;">@acc</b>]</b>
                        </span>
                    }

                }
            </h3>
             <hr />
            <span style="color:green; font-style:italic; text-align:center"><label>Account Opening date: @Model.customer.DateCreated </label></span><br />
        }
        <!--Account Summary-->
        <div class="card">
            <div class="card-content">
                <h5>
                    <img src="~/Images/Coin-01-WF.png" />Account Summary
                </h5><hr /><br />
                <table class="table bordered striped">
                    <tr>
                        <td><b>Savings</b></td>
                        <td>
                            <span>
                                @{
                                    if (balance <= 0)
                                    {
                                <span>
                                    <label style="color: red"><b style="font-size:15pt;">-@string.Format("{0:C}", @balance)</b> </label>
                                </span>
                                    }
                                    if (balance > 0)
                                    {
                                <span>
                                    <label style="color: blue"><b style="font-size:15pt;">@string.Format("{0:C}", @balance)</b> </label>
                                </span>
                                    }
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Dividends</b></td>
                        <td>
                            <span>
                                @{
                                    if (total_dividend <= 0)
                                    {
                                        <span>
                                            <label style="color: red"><b style="font-size:15pt;">-@string.Format("{0:C}", @total_dividend)</b> </label>
                                        </span>
                                    }
                                    if (total_dividend > 0)
                                    {
                                        <span>
                                            <label style="color: blue"><b style="font-size:15pt;">@string.Format("{0:C}", @total_dividend)</b> </label>
                                        </span>
                                    }
                                }
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Total Balance</b></td>
                        <td>
                            <span style="color:#3e7157; font-weight:bold;"> @string.Format("{0:C}", @net_total)</span>

                        </td>
                    </tr>
                </table>        
            </div>
        </div>

        <!--Credit and debit + balance-->
        <ul class="card collapsible" data-collapsible="accordion"  >
            <li>
                <div class="collapsible-header">
                    <span style=" text-align:center">Execute a transaction on this account</span>
                    <i class="material-icons">system_update_alt</i>
                </div>
               <div class="collapsible-body card-content">
                   <a href="~/CustomerSavings/CreditAccount" class="waves-effect waves-light btn" style="background:#7cb342; width:253px;">Credit account</a>
                   <a href="~/CustomerSavings/DebitAccount" class="waves-effect waves-light btn" style="background:#b71c1c ">debit account</a>
               </div>
            </li>
        </ul>

        <!--Transactions-->
        <ul class="card collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">
                    <span style=" text-align:center">View all transactions on this account</span>
                    <i class="material-icons">system_update_alt</i>
                </div>
                
                    <div class="collapsible-body card-content">

                        <div class="denari-table row">
                            <div class="col s12">
                                <ul class="tabs">
                                    <li class="tab col s3"><a class="active" href="#transactions">Transactions</a></li>
                                    <li class="tab col s3"><a href="#dividends">Dividends earned.</a></li>
                                </ul>
                            </div>
                            <div id="transactions" class="denari-table-content" style="padding-left: 20px; padding-bottom: 20px; padding-right: 20px">
                                <h5 style="text-align: left; font-weight:lighter">Transaction history:</h5>
                                <table class="table bordered  striped" style="font-size:10pt;">
                                    <tr style="background-color: #2A3333; color: whitesmoke">
                                        <td>Date</td>
                                        <td>Credits</td>
                                        <td>Debits</td>
                                        <td>Msgs</td>
                                    </tr>
                                    @foreach (var item in savingsTransactions)
                                    {
                                        <tr>
                                            <td>@item.DateCreated.ToLongDateString()</td>
                                            <td>@item.Credit</td>
                                            <td>@item.Debit</td>
                                            <td><i>@item.TransactionMsg</i></td>
                                        </tr>
                                    }

                                </table>

                            </div>
                            <div id="dividends" class="denari-table-content" style="padding-left: 20px; padding-bottom: 20px; padding-right: 20px">
                                <div>
                                    <br />
                                    <br />
                                    <h5 style="text-align: left; font-weight:lighter">Dividends:</h5>
                                    <table id="dividend-list" class="table bordered stripped">

                                        <tr style="background-color: #2A3333; color: whitesmoke">
                                            <td>&nbsp;</td>
                                            <td>Amount</td>
                                            <td>% percentage</td>
                                            <td>Date issued</td>

                                        </tr>


                                        <tbody>
                                            @{
                                                var dividends = Model.dividendList;
                                                var count = 1;
                                                foreach (var item in dividends)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@item.amount</td>
                                                        <td>@item.percentage</td>
                                                        <td>@item.dateCreated</td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                
            </li>
        </ul>
        
    </div>

    <style>
        .cust-img {
            width: 100px;
            height: 97px;
            border: 1px solid #808080;
            border-radius: 50%;
        }
    </style>
