@model CRIMAS.Models.CustomerSavings

@{
    ViewBag.Title = "Debit Transaction details";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    string CustomerAccount = @Model.AccountNo.LastOrDefault().ToString();
}

<div class="subheading">
    <span>
        <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Transaction details for account holder @Html.DisplayFor(model => model.AccountNo)  </span>
</div>
<br />

<div class="add-user-heading" style="padding-bottom: 20px;">

    <p style="color: red">Account  <b>@Html.DisplayFor(model => model.AccountNo)</b> has successfully been debited with <b>₦@Html.DisplayFor(model => model.Debit)</b><b> (NGN)</b></p>
    <p style="text-align: left; padding-right: 60px">

        <a href="~/CustomerSavings/CheckAccount?accountno=@Model.AccountNo" class="btn btn-success">view account status</a>
        <a href="~/Home/cashier"  class="btn btn-primary">
            <img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!</a>
    </p>
</div>
<br />
<div style="padding-left: 20px; padding-right: 20px;">
    <label><b>Transaction details:</b></label>
    <table class="table table-stripped table-bordered">
        <tr style="background-color: #2A3333; color: whitesmoke">
            <td>@Html.DisplayNameFor(model => model.DateCreated)</td>
            <td>@Html.DisplayNameFor(model => model.AccountNo)</td>
            <td>@Html.DisplayNameFor(model => model.Credit)</td>
            <td>@Html.DisplayNameFor(model => model.Debit)</td>
        </tr>
        <tr>
            <td>@DateTime.Now.ToString()</td>
            <td><b>@Html.DisplayFor(model => model.AccountNo)</b></td>
            <td><b>₦@Html.DisplayFor(model => model.Credit)</b><b>(NGN)</b></td>
            <td><b>@Html.DisplayFor(model => model.Debit)</b></td>
        </tr>
    </table>

</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
