@model CRIMAS.Models.UserProfile

@{
    ViewBag.Title = "Add new user";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black">
            + Add new user to the System
            <span style="float: right; "><a class="btn btn-primary" style="background:green" href="~/AddUser">view staff list</a></span>
            <hr />
        </div>

        @using (Html.BeginForm())
        {

            <span style="color:red; text-align:center; font-weight:bold">@Html.ValidationSummary(true)</span>

            <div>
                <div class="row">
                    <div class="col s6">
                        <div>
                            <label><b>First name</b></label>
                        </div>
                        <div>
                            @Html.EditorFor(m => m.FirstName)<br />
                            @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @Class = "ValidationMessage" })
                        </div>
                    </div>
                    <div class="col s6">
                        <div>
                            <label><b>Last name</b></label>
                        </div>
                        <div>
                            @Html.EditorFor(m => m.LastName)<br />
                            @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @Class = "ValidationMessage" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div>
                            <label><b>Home address</b></label>
                        </div>
                        <div>
                            @Html.TextBoxFor(m => m.Address, new { required = "required" })<br />
                            @Html.ValidationMessageFor(model => model.Address, string.Empty, new { @Class = "ValidationMessage" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col s6">
                            <div>
                                <label><b>Email</b></label>
                            </div>
                            <div>
                                @Html.TextBoxFor(x => x.email, new { required="required", @type="email" })
                            </div>
                        </div>*@
                    <div class="col s12">
                        <div>
                            <label><b>Phone</b></label>
                        </div>
                        <div>
                            @Html.TextBoxFor(x => x.phone, new { required = "required" })
                        </div>
                    </div>
                </div>

                <div>
                    <b>Employee's Authentication Details</b><hr />
                </div>
                <br />
                <div class="row">
                    <div class="col s6">
                        <div>
                            <label><b>Role</b></label>
                        </div>
                        <div>
                            <select id="role" name="role">
                                <option>Cashier</option>
                                @*<option>Supervisor</option>
                                    <option>Manager</option>*@
                                <option>Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="col s6">
                        <div>
                            <label><b>Username (employee's email)</b></label>
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.UserName, new { @type = "email" })<br />
                            @Html.ValidationMessageFor(model => model.UserName, string.Empty, new { @Class = "ValidationMessage" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div>
                            <label><b>Password</b></label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.Password)<br />
                            @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @Class = "ValidationMessage" })
                        </div>
                    </div>
                    <div class="col s6">
                        <div>
                            <label><b>Confirm password</b></label>
                        </div>
                        <div>
                            @Html.EditorFor(model => model.ConfirmPassword)<br />
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @Class = "ValidationMessage" })
                        </div>

                    </div>
                </div>
                <p class="card-action">
                    <input class="btn btn-success" type="submit" value="Add employee to system." />
                </p>
            </div>

        }

    </div>
</div>