@model CRIMAS.Models.UserProfile

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}


@using (Html.BeginForm()) {
    <div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
        <div class="card-content">
           @Html.ValidationSummary(true)

            <div class="card-title" style="color:black">
                Update user profile - @Html.DisplayFor(x=>x.UserName)
            </div><hr />    
            @Html.HiddenFor(model => model.UserId)          
            
            <div class="row">
                <div class="col s6">
                    <label>First name</label>
                    <div>
                        @Html.TextBoxFor(x => x.FirstName)
                    </div>
                </div>
                <div class="col s6">
                    <label>Last name</label>
                    <div>
                        @Html.TextBoxFor(x => x.LastName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Permanent Address</label>
                    @Html.TextBoxFor(x=>x.Address)
                </div>
            </div>
            <div class="row">       
                <div class="col s6">
                    <div>
                        <label>Phone</label>
                        <div>
                            @Html.TextBoxFor(x => x.phone)
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div>
                        <label>Role</label>
                        <div>
                            <select id="role" name="role">
                                <option>Cashier</option>                            
                                <option>Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <input type="submit" value="Save" />
                @Html.ActionLink("Back to List", "Index")
            </p>
        
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
