@using PagedList.Mvc
@model PagedList.IPagedList<CRIMAS.Models.UserProfile>

    @{
        ViewBag.Title = "Employee list";
        Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
        int curPage = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    }

    <div class="card" style="width:80%; margin-left:auto; margin-right:auto">
        <div class="card-content">
            <div class="card-title" style="color:black">
                Employee list
                <a href="~/AddUser/create" class="btn btn-primary" style="font-size:10pt; background:green; float:right;">+ add new user</a>
                <hr />
            </div>
            <div class="add-user-content">
                <table class="striped" style="font-size:10pt;">
                    <tr style="background:green; color:white; font-size:10pt;">
                        <td>&nbsp;</td>
                        <td>Employee name</td>
                        <td>
                            Email (username)
                        </td>
                        <td>
                            Phone
                        </td>
                        <td>
                            role
                        </td>
                        <td></td>
                    </tr>
                    @if (Model != null)
                    {
                        int index = 0;
                        foreach (var item in Model)
                        {
                            index = index + 1;
                            <tr>
                                <td>
                                    @index.
                                </td>
                                <td>
                                    @item.FirstName <span>&nbsp;</span> @item.LastName
                                </td>
                                <td>
                                    @item.UserName
                                </td>
                                <td>
                                    @item.phone
                                </td>
                                <td style="text-align:center;">
                                    @if (item.role == "Cashier")
                                    {
                                        <img src="~/Images/cashier.png" /> <b style="color:green"> @item.role</b>
                                    }
                                    else
                                    {
                                        <img src="~/Images/admin.png" /> <b style="color:red">@item.role</b>
                                    }
                                </td>
                                <td class="add-user-actions">
                                    <a title="Edit employee records" class="btn btn-floating" style="font-size:9pt;  margin-bottom:0.2em;" href="/AddUser/Edit/@item.UserId">
                                        <img src="~/Images/User Edit-01-WF.png" />
                                    </a>
                                    <a title="remove employee" class="btn btn-floating" style="font-size:9pt; background:#e53935;  margin-bottom:0.2em;" href="/AddUser/Delete/@item.UserId">
                                        <img src="~/Images/User-Delete-WF.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </table>
                <hr />
                <div style="text-align:center;">
                    Page @curPage of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
