@model CRIMAS.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NextOfkin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NextOfkin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfficeAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficeAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ResidentialAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ResidentialAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VillageClan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VillageClan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocalGovtArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalGovtArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
