@using PagedList.Mvc
@model PagedList.IPagedList<CRIMAS.Models.Customer>

    @{
        ViewBag.Title = "Rateable Register";
        Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

        var db = new CRIMAS.Models.CrimasDb();
        int curPage = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
    }
    <div class="card" style="width:80%; margin-left:auto; margin-right:auto">
        <div class="card-content">
            <div style="font-family:'Microsoft JhengHei'; color:black;font-size:13pt;  ">
                <div class="col s12">
                    <ul class="collapsible popout" data-collapsible="accordion" style="width:98%; margin-left:auto; margin-right:auto;">
                        <li>
                            <div class="collapsible-header" style="border-left:3px solid green;border-top:1px solid green;border-right:1px solid green;border-bottom:1px solid green; background:#e8f5e9">
                                Rateable Register Report as at  @DateTime.Now.ToLongDateString()
                                <span style="float:right;"><img src="~/Images/Arrowhead down-WF.png" /></span>
                            </div>
                            <div class="collapsible-body" style="border-left:3px solid green">
                                <div id="SelectPeriod">
                                    <form name="rateableRegister" method="get" action="~/RateableRegister/ViewRateableRegister">
                                        <div class="row">
                                            <div class="col s12" style="text-align:center"><br /><span><i>Select month and year of report to view</i></span><br /></div>
                                            <div class="col s3">&nbsp;</div>
                                            <div class="col s6">
                                                <label>Month & Year of report.</label>
                                                <input id="month" name="month" type="month" required />
                                                <script>
                                                    $('#month').pickadate({
                                                        selectMonths: true, // Creates a dropdown to control month
                                                        //selectYears: 100, // Creates a dropdown of 15 years to control year
                                                    });

                                                </script>

                                            </div>
                                        </div>
                                        <div class="card-action" style="text-align: center">
                                            <input name="month" type="submit" class="btn btn-success" value="View rateable register report" />
                                            @*<a href="~/Home/cashier" class="btn btn-info">
                                                    <img src="~/Images/Home.png" />&nbsp;Take me home
                                                </a>*@
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="width:92%; margin-left:auto; margin-right:auto;">

                <table class="table striped hovered" style="font-size:9pt;">
                    <tr style="background-color: green; color: whitesmoke">
                        <td></td>
                        <td>Customer</td>
                        <td>Account No.</td>
                        <td>Deposit</td>
                        <td>Interest</td>
                    </tr>
                    @{
                        int i = 0;
                        int currentMonth = DateTime.Now.Month;
                        int currentYear = DateTime.Now.Year;

                        foreach (var customer in Model)
                        {
                            i = i + 1;
                            var credits = db.CustomerSavings.Where(x => x.AccountNo == customer.AccountNo).Where(x => x.TransactionMsg != "Dividends").Select(x => x.Credit).Sum();
                            var debits = db.CustomerSavings.Where(x => x.AccountNo == customer.AccountNo).Where(x => x.TransactionMsg != "Dividends").Select(x => x.Debit).Sum();

                            var customerBalance = credits - debits;

                            var customerDividends = db.CustomerSavings.Where(x => x.DateCreated.Month == currentMonth && x.DateCreated.Year == currentYear)
                                    .Where(x => x.TransactionMsg == "Dividends").Where(x => x.AccountNo == customer.AccountNo).Select(x => x.Credit).Sum();

                            <tr>
                                <td>@i.</td>
                                <td>@customer.Name</td>
                                <td>@customer.AccountNo</td>
                                <td>@customerBalance</td>
                                <td>@customerDividends</td>
                            </tr>
                        }
                    }
                </table>
                <hr />
                <div style="text-align:center;">
                    Page @curPage of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
