@model CRIMAS.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s6">

            <div style="color:red; font-weight:bold">@Html.ValidationSummary()</div>

            <p>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword, new { required = "required" })
            </p>
            <p>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { required = "required" })
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
            </p>

            <input type="submit" class="btn btn-success" value="Change your password" />
        </div>
    </div>
}
