@model CRIMAS.Models.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    <div style="color:red; font-weight:bold">@Html.ValidationSummary()</div>

    <fieldset>
        <legend>Change Password</legend>
       
            <p>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </p>
            <p>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </p>
        
        <input type="submit" class="btn btn-success" value="Change your password" />
    </fieldset>
}
