@model CRIMAS.Models.LocalPasswordModel


<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s6">

            <div style="color:red; font-weight:bold">@Html.ValidationSummary()</div>

            <p>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { required = "required" })
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { required = "required" })
            </p>

            <input type="submit" class="btn btn-success" value="Set password" />
        </div>
    </div>
}
