@model CRIMAS.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Sign in ";
}

<link href="~/Content/materialize-v0.97.1/css/materialize.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/SiteUpdate.css" rel="stylesheet" />
<link href="~/Content/SiteUpdate-responsive.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />

<section id="loginForm">
    <div class="card animated bounce" style="width:30%; margin-left:auto; margin-right:auto">
        <h2 style="text-align: center">
            <img src="~/Images/Crimas-header.png" style="width:230px; height:auto;" />
        </h2>
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <span style="color: palevioletred" class="validationSummary">
                @Html.ValidationSummary(true)
            </span>
            <p class="card-title" style="font-size:16pt; text-align:center; font-family:'Segoe UI'; color:black ">
                Forgot Password
            </p>
            <hr />

            <div class="row" style="padding:20px; padding-right:30px;">
                <div class="input-field col s12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", @placeholder = "Email address" })
                    @Html.ValidationMessageFor(m => m.Email, String.Empty, new { @class = "ValidationMessage" })
                </div>
                <div class="col s12">
                    <input type="submit" class="btn btn-success" style="font-size: 12pt; background:#1565c0" value="Send Password Reset Link" />
                    <a style="margin-top: 3px; float: right;" href="@Url.Action("Login","Account")">Login</a>
                </div>
            </div>
        }
        <br />
        <br />
    </div>
    <div class="footer" style="color:white;">
        <p style="font-size: 9pt; text-align: center">
            <a href="#">Privacy policy</a>&nbsp;&nbsp;•&nbsp;
            <a href="#">Terms of service</a>&nbsp;&nbsp;•&nbsp;
            <a href="#">Feedback</a>&nbsp;&nbsp;•&nbsp;
            <a href="#">Support</a>
        </p>
        <p style="font-size: 9pt; text-align: center">&copy;  <a href="#">Digital Forte Enterprise Systems Ltd.</a></p>
    </div>
</section>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    body {
        background-image: url('../../Images/Elegant_Background-4.jpg');
    }

    .footer a {
        color: white;
    }
</style>