@model CRIMAS.Models.LoginModel

@{
    ViewBag.Title = "Sign in";
}

<section id="loginForm">
    <div class="container-narrow">
        @* <h2 style="text-align: center">CRIMAS-MPCS Ltd. Web Portal</h2>*@
        <h2 style="text-align: center">
            <img src="~/Images/Crimas-header.png" /></h2>
        <br />
        
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
        {
     
            @Html.AntiForgeryToken()
            <span style="color: palevioletred" class="validationSummary">
                @Html.ValidationSummary(true)
            </span>
            <p style="font-size:21pt; color:#534343">
                @*<img src="~/Images/glyphicons/png/glyphicons_044_keys.png" style="margin-right: 20px;" />*@
                <img src="~/Images/Lock.png" style="margin-right: 20px;" />Login</p>
            <hr />
            <br />
            <table style="width: 90%; margin-left: auto; margin-right: auto">
                <tr>
                    <td>@Html.TextBoxFor(m => m.UserName, new { @class = "input-block-level", @placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.UserName, String.Empty, new { @class = "ValidationMessage" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.PasswordFor(m => m.Password, new { @class = "input-block-level", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, String.Empty, new { @class = "ValidationMessage" })<br />
                    </td>
                </tr>
            </table>
          
            <p style="text-align:left; margin-left:17px">
                <input type="submit" class="btn btn-success" style="width: 120px; font-size: 12pt;" value="Login" />
            </p>
           
        }
        <br />
        <br />
        <hr />
        <div class="footer">
            <p style="font-size: 9pt; text-align: center">
                <a href="#">Privacy policy</a>&nbsp;&nbsp;•&nbsp;
                <a href="#">Terms of service</a>&nbsp;&nbsp;•&nbsp;
                <a href="#">Feedback</a>&nbsp;&nbsp;•&nbsp;
                <a href="#">Support</a>
            </p>
            <p style="font-size: 9pt; text-align: center">&copy; CRIMAS MPCS Limited 2013. Designed & Engineered by <a href="#">Digital Forte Enterprise Systems Ltd.</a></p>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
