@model CRIMAS.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black">
            <img src="~/Images/Lock.png" alt="" style="vertical-align: -14px;" />
            @if (ViewBag.HasLocalPassword)
            {
                <span>
                    Change Password
                </span>
            }
            else
            {
                <span>
                    Set Password Form
                </span>
            }
            <hr />
        </div>
        <div>
            <p class="message-success" style="color:green; font-weight:bold">@ViewBag.StatusMessage</p>
            
            @if (ViewBag.HasLocalPassword)
            {
                <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
