@model CRIMAS.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="subheading">
    <span>
        <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Manage your account.</span>
</div>
<br />
<div style="padding-left: 20px;">
    <p class="message-success" style="color:green; font-weight:bold">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
</div>
@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
