
@{
    ViewBag.Title = "Admin home";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    //Set Culture info for currency
    System.Globalization.CultureInfo cultureInfo = new System.Globalization.CultureInfo("en-US");
    cultureInfo.NumberFormat.CurrencySymbol = "₦";

    System.Threading.Thread.CurrentThread.CurrentCulture = cultureInfo;
    var db = new CRIMAS.Models.CrimasDb();

}

@using CRIMAS.SupportClasses



<div class="dashboard">
    <div class="header">
        <h1>
            <i class="ion ion-cube"></i>Business Transactions for @Model.year
            <span id="toggle-control">
                <form class="row" method="post" action="~/Home/admin">
                    @* <input name="year" pattern="\d{1,15}" required />*@
                    <div class="input-field col s8">
                        <select name="year">
                            <option value="" disabled selected>Select year</option>
                            @{
                                for (int i = 0; i < 35; i++)
                                {
                                    var currentYear = DateTime.Now.Year - i;
                                    <option value="@currentYear">@currentYear</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="input-field col s4">
                        <button class="btn btn-floating" type="submit"><i class="material-icons">refresh</i></button>

                    </div>
                </form>
            </span>
        </h1>
    </div>
    <div>
        <canvas id="annualProfitChart" height="50" style="padding-bottom:20px;"></canvas>
        <script>
            var ctx = document.getElementById("annualProfitChart");
            var annualProfitChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: 'monthly profit on loans [NGN]',
                        data: [
                            @Model.profit_jan,
                            @Model.profit_feb,
                            @Model.profit_mar,
                            @Model.profit_apr,
                            @Model.profit_may,
                            @Model.profit_jun,
                            @Model.profit_jul,
                            @Model.profit_aug,
                            @Model.profit_sept,
                            @Model.profit_oct,
                            @Model.profit_nov,
                            @Model.profit_dec
                        ],
                        backgroundColor: "rgba(1, 87, 155, 0.5)",
                        borderColor: "rgba(1, 87, 155, 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false,
                                //color: "rgba(255, 255, 255, 1)"
                            }
                        }],
                        xAxes: [{
                            gridLines: {
                                display: true,
                                color: "rgba(255, 255, 255, 1)"
                            }
                        }]
                    },

                }
            });
        </script>
    </div>
    <div class="stats row">
        <div class="col s4">
            <div class="stats-content hoverable">
                <div class="stats-data">
                    @{
                        if (@Model.total_profit < 0)
                        {
                            <label>Loss on Loans </label>
                            <h1>
                                @string.Format("{0:C}", @Model.total_profit)
                                <i class="ion ion-ios-arrow-thin-down" style="color:red"></i>
                                <i class="ion ion-stats-bars"></i>

                            </h1>

                        }
                        else
                        {
                            <label>Profit on Loans</label>
                            <h1>
                                @string.Format("{0:C}", @Model.total_profit)
                                <i class="ion ion-ios-arrow-thin-up" style="color:lightgreen"></i>
                                <i class="ion ion-stats-bars"></i>

                            </h1>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="stats-content hoverable">
                <div class="stats-data">
                    <label>Total Loans repayed (principal + Interest)</label>
                    <h1>
                        @string.Format("{0:C}", @Model.total_loanRepayment)
                        <i class="ion ion-stats-bars"></i>
                    </h1>
                </div>
            </div>

        </div>
        <div class="col s4">
            <div class="stats-content hoverable">
                <div class="stats-data">
                    <label>Outstanding Loans</label>
                    <h1>
                        @string.Format("{0:C}", @Model.total_OutstandingLoans)
                        @{
                            if (@Model.total_OutstandingLoans != 0)
                            {
                                <i class="ion ion-ios-arrow-thin-down" style="color:red"></i>
                            }
                            else
                            {
                                <i class="ion ion-ios-arrow-thin-up" style="color:lightgreen"></i>

                            }
                        }
                        <i class="ion ion-stats-bars"></i>
                    </h1>
                </div>
            </div>

        </div>
    </div>
    @{
        <div class="top-lenders">
            <div class="header">
                <h1>
                    <i class="ion ion-ios-alarm"></i>Top 5 Outstanding loan applications
                </h1>
            </div>
            <div class="row">
                <div class="col s8">
                    @if (Model.outstanding_LoanApplicants.Count != 0)
                    {
                       
                            foreach (var applicant in Model.outstanding_LoanApplicants)
                            {
                                <a href="~/Customer/FindCustomer?searchString=@applicant.AccountNo">
                                    <div class="row lender-person hoverable">
                                        <div class="col s3">
                                            <div class="lender-image">
                                                @if (applicant.image != null)
                                                {
                                                <img class="hoverable" src="~/Customer/RetrieveImage/@applicant.CustomerId">

                                                }
                                                else
                                                {
                                                <i class="ion ion-person"></i>
                                                }
                                            </div>
                                        </div>
                                        <div class="col s9">
                                            <div class="lender-name ">
                                                <span class="app-name">@applicant.Name</span>
                                                <label>@applicant.AccountNo</label>
                                            </div>

                                        </div>
                                    </div>
                                </a>
                            }
                            <script>
                                var links = document.getElementsByClassName("app-name");
                                for (var i = 0; i < links.length; i++) {
                                    links[i].innerHTML = links[i].innerHTML.toLowerCase();
                                }
                            </script>
                        
                            <div>
                                <a style="float:right; font-family:'Microsoft JhengHei'" class="btn btn-primary" href="~/customer">+ view more</a>
                            </div>
                            }
                            else
                            {
                                <div>
                                    <span style="font-family:'Microsoft JhengHei'">
                                        <i style="color:darkseagreen" class="ion ion-checkmark"></i><i>&nbsp;There are no outstanding loans this year.</i>
                                    </span>
                                </div>
                            }


                </div>
                <div class="col s4 cust-stats">
                    <div class="col s12">
                        <h5>
                            <i class="ion ion-android-people fa"></i> @Model.total_customers
                        </h5>
                        <span>Customer Strength</span>
                    </div>
                    <div class="col s12">
                        <h5>
                            <i class="ion ion-social-buffer fa"></i>
                            @string.Format("{0:C}", @Model.total_savingsBalance)
                            @if (@Model.total_savingsBalance < 0)
                            {
                                <i style="color:red" class="ion ion-ios-arrow-thin-down"></i>

                            }
                            else
                            {
                                <i style="color:darkseagreen" class="ion ion-ios-arrow-thin-up"></i>

                            }
                        </h5>
                        <span>Total Savings</span>
                    </div>                    
                </div>
            </div>
        </div>


   }

</div>
