@{
    ViewBag.Title = "Admin home";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    //Set Culture info for currency
    System.Globalization.CultureInfo cultureInfo = new System.Globalization.CultureInfo("en-US");
    cultureInfo.NumberFormat.CurrencySymbol = "₦";

    System.Threading.Thread.CurrentThread.CurrentCulture = cultureInfo;
    var db = new CRIMAS.Models.CrimasDb();
}

@using CRIMAS.SupportClasses
<div class="card card-small" style="width:80%; margin-right:auto; margin-left:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black">
            Staff Strength
            <a href="~/AddUser/create" class="btn btn-primary" style="font-size:10pt; background:green; float:right;">+ add new user</a>
            <hr />
        </div>
        <div class="row">
            <div class="col s4 " style="text-align:center;">
                <div class="card-panel" style="border-left:3px solid #e53935">
                    <span><img src="~/Images/Users-WF.png" /></span>
                    <h5 style="color:#e53935">@db.UserProfiles.Count()</h5>
                    <hr />
                    Total Staff Strength
                </div>
            </div>
            <div class="col s4 " style="text-align:center">
                <div class="card-panel" style="border-right:3px solid green; background:green; color:white;">
                    <span><img src="~/Images/Banker-01-WF.png" /></span>
                    <h5 >@db.UserProfiles.Where(x => x.role == "Cashier").Count()</h5>
                    <hr />
                    Cashiers
                </div>
            </div>
            <div class="col s4 " style="text-align:center">
                <div class="card-panel" style="border-right:3px solid #827717; background:#827717; color:white;">
                    <span><img src="~/Images/User-Lock-WF.png" /></span>
                    <h5>@db.UserProfiles.Where(x=>x.role=="Admin").Count()</h5>
                    <hr />
                   Administrators
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col s12">
                <b>Customer Savings</b><hr />
                <table class="customerMaster">
                    <tr class="cust-header">
                        <td style="color:#ff6a00; text-align:center;"><img src="~/Images/User Profile 1-WF.png" /><br />Customer Strength</td>
                        <td style="color:green; text-align:center;">

                            <img src="~/Images/ATM-01-WF.png" /><br /> Total Credits
                        </td>
                        <td style="color:red;  text-align:center;">

                            <img src="~/Images/ATM-03-WF.png" /><br /> Total Debits
                        </td>
                        <td style="color:blue; text-align:center;">

                            <img src="~/Images/balance.png" /><br /> Balance
                        </td>
                    </tr>
                    @{
                        var customerStrength = db.Customers.Count();

                        var totalCredits = db.CustomerSavings.Select(x => x.Credit).Sum();
                        var totalDebits = db.CustomerSavings.Select(x => x.Debit).Sum();

                       
                        var balance = totalCredits - totalDebits;

                        <tr class="sub">
                            <td style="text-align:center;  color:#ff6a00;">@customerStrength</td>
                            <td style="text-align:center;color:green">@string.Format("{0:C}", @totalCredits)</td>
                            <td style=" text-align:center;color:red">@string.Format("{0:C}", @totalDebits)</td>
                            <td style=" text-align:center;color:blue">@string.Format("{0:C}", @balance)</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>