@using CRIMAS.Models;
@model IEnumerable<Loan>

@{
    ViewBag.Title = "Cashier";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var db = new CrimasDb();

    string user = User.Identity.Name.ToString();
}

<div class="card" style="width:80%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
      
        <div class="cashier-content">
            
            <div id="LoanAgreements" >
                <div class="card-title" style="color:black">

                    <a title="check loan status" href="~/Loan/EnterAccountNo" style="float:right;margin-right:25px;" class="btn btn-floating btn-large waves-effect waves-light blue"><img src="~/Images/ATM-02-WF.png" /></a>
                    <a title="Create a new loan agreement" href="~/Loan/create" style="float:right;margin-right:25px; margin-top:0.5em; background-color:#ffab40" class="btn btn-floating  waves-effect waves-light "><img src="~/Images/Add.png" style="margin-top:2px;"/></a>
                    <a title="Export data" href="~/ExportData/ExportLoanAgreement" style="float:right;margin-right:25px; margin-top:0.5em; background-color:#1b5e20" class="btn btn-floating  waves-effect waves-light "><img src="~/Images/Excel Online.png" style="margin-top:2px;" /></a>
                    <img src="~/Images/loan-agr.png" /> Loan Agreements <hr />
                </div>
                <br />
                <div>
                    @{
                       
                        if (Model.Count() != 0)
                        {
                        <p>
                           <b>You have @Model.Count() active loan agreement(s)</b></p><br />
                        <table class="table striped" style="font-size:9pt;">
                            <tr style="background-color: #2d742d; color: whitesmoke; font-weight: bold">
                                <td>Customer</td>
                                <td>Amount</td>
                                <td></td>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr style="color: chocolate; font-weight: bold">
                                    <td>@item.Customername (A/C: <i>@item.AccountNo</i>)</td>
                                    <td>@string.Format("{0:C}", @item.amount) (NGN)</td>
                                    <td><a style="color:green;" class="btn btn-flat" href="~/Loan/CheckLoanStatus?accountno=@item.AccountNo">View Status</a></td>
                                </tr>
                            }
                        </table>
                        }
                        else
                        {
                        <p style="color: chocolate; font-weight: bold">You have no active loan agreements</p>
                        }
                    }
                </div>
            </div>

          
        </div>
    </div>
</div>

<div class="card" style="width:80%; margin-left:auto; margin-right:auto; margin-top:2em;">
  <div class="card-content">
      <div id="Enrolled-Customers">
          <div class="card-title" style="color:black">
              <a title="Enroll new customer" href="~/Customer/create" style="float:right;margin-right:25px; background-color:#4caf50" class="btn btn-floating  waves-effect waves-light "><img src="~/Images/Add.png" style="margin-top:2px;" /></a>
              <a title="Export data" href="~/ExportData/ExportCustomerData" style="float:right;margin-right:25px;  background-color:#1b5e20" class="btn btn-floating  waves-effect waves-light "><img src="~/Images/Excel Online.png" style="margin-top:2px;" /></a>
              Customers enrolled<hr />
          </div>
          <br />
          <div>
              @{
                  var customersEnrolled = from s in db.Customers select s;

                  <p style="font-weight: bold; color: chocolate">
                      <img src="~/Images/Submit.png" /><img src="~/Images/Customer-small.png" />&nbsp;&nbsp;Total No. of Customers enrolled: @customersEnrolled.Count()
                  </p>
              }
              @*Manager Priviledges*@
              @{
                  if (User.IsInRole("Manager"))
                  {
                      //
                      //Total no of users online
                      <div id="LoggedIn-cashier" class="add-user-content">
                          <div class="subheading">
                              <label style="color: blue"><strong>Cashier's Online </strong></label>
                          </div>
                          <br />
                          <div>
                              @{
                                  <p style="font-weight: bold; color: chocolate">
                                      <img src="~/Images/Submit.png" /><img src="~/Images/Customer-small.png" />&nbsp;&nbsp;Total No. of Cashier's online: @customersEnrolled.Count()
                                  </p>
                              }
                          </div>
                      </div>
                      //
                      //View list of users and transactions they have carried out.
                  }
              }
          </div>
      </div>

  </div>
</div>

