@model CRIMAS.Models.Customer


@{
    ViewBag.Title = "Add new customer";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var CustomerAccount = new Random().Next(1, 10000000).ToString();
}


@using (Html.BeginForm())
{
    <span style="color:red; text-align:center;">@Html.ValidationSummary()</span>
    
    <br />

    <div class="card" style="width:70%; margin-left:auto; margin-right:auto;">

        <div class="card-content">
            <span class="card-title" style="color:black">
                <img src="~/Images/User Profile 1-WF.png" />Enroll a new Customer<hr />
            </span>
            <div class="card-panel" style="background:#827717 ; color:white">
                Enter details below to enroll new customer into the system.
            </div>

            <br />
            <div class="row">
                <div class="input-field col s12">

                    <label for="name" style="font-weight: bold">Name</label>

                    @Html.TextBoxFor(model => model.Name, string.Empty, new { @placeholder = "Enter Account holder's full name.", @class = "validate", @id = "name" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Title</label><br /><br />

                    <select>
                        @*<option value="" disabled selected>Select Title</option>*@
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Miss.</option>
                        <option>Dr.</option>
                        <option>Engr.</option>
                        <option>Chief.</option>
                        <option>Prof.</option>
                        <option>Others</option>
                    </select><br /><br />
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Next of Kin</label>
                    @Html.TextBoxFor(model => model.NextOfkin, string.Empty, new { @placeholder = "Next of Kin full name", @class = "validate" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Office address</label>
                    @Html.TextBoxFor(model => model.OfficeAddress, new { @placeholder = "Office address details" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Residential address</label>
                    @Html.TextBoxFor(model => model.ResidentialAddress, new { @placeholder = "Residential address details." })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Village Clan</label>
                    @Html.TextBoxFor(model => model.VillageClan, string.Empty, new { @placeholder = "Enter village clan" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">LGA</label><br /><br />

                    <select id="LocalGovtArea" name="LocalGovtArea">
                        <option>Abak</option>
                        <option>Eastern Obolo</option>
                        <option>Eket</option>
                        <option>Esit Eket</option>
                        <option>Essien Udim</option>
                        <option>Etim Ekpo</option>
                        <option>Etinan</option>
                        <option>Ibeno</option>
                        <option>Ibesikpo Asutan</option>
                        <option>Ika</option>
                        <option>Ikono</option>
                        <option>Ikot Ekpene</option>
                        <option>Ikot-Abasi</option>
                        <option>Ini</option>
                        <option>Itu</option>
                        <option>Mbo</option>
                        <option>Mkpat-Enin</option>
                        <option>Nsit-Atai</option>
                        <option>Nsit-Ibom</option>
                        <option>Nsit-Ubium</option>
                        <option>Obot-Akara</option>
                        <option>Okobo</option>
                        <option>Onna</option>
                        <option>Oron</option>
                        <option>Oruk Anam</option>
                        <option>Udung-Uko</option>
                        <option>Ukanafun</option>
                        <option>Uruan</option>
                        <option>Urue-Offong/Oruko</option>
                        <option>Uyo</option>
                        <option>Others</option>
                    </select>

                </div>
            </div><br />
            <div class="card-action" style="margin-top:5em;">
                <input type="submit" class="btn btn-info" value="Enroll new customer" />
                <a href="~/Home/cashier" class="btn btn-primary">
                    <img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!
                </a><br />
            </div>
        </div>
    </div>
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
