@model CRIMAS.Models.Customer


@{
    ViewBag.Title = "Add new customer";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var CustomerAccount = new Random().Next(1, 10000000).ToString();
}

@using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span style="color:red; text-align:center;">@Html.ValidationSummary()</span>

    <br />

    <div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
        <div class="card-content">
            <span class="card-title" style="color:black">
                Enroll a new Customer<hr />
            </span>
            <div class="card-panel" style="background:whitesmoke ; color:black; border:1px solid rgb(1, 87, 155)">
                Enter details below to enroll new customer into the system.
            </div>
            <br />
            <div class="row">

                <div class="input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Image</span>
                            <input type="file" name="file" id="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload profile image">
                        </div>
                    </div>
                </div>

                <div class="input-field col s4">
                    <select required>
                        <option value="" disabled selected>Select Title</option>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Miss.</option>
                        <option>Dr.</option>
                        <option>Engr.</option>
                        <option>Chief.</option>
                        <option>Prof.</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="input-field col s8">
                    <label for="name" style="font-weight: bold">Customer full-Name</label>
                    @Html.TextBoxFor(model => model.Name, string.Empty, new { @placeholder = "Enter Account holder's full name.", @class = "validate", @id = "name", required = "required" })
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label style="font-weight: bold">Next of Kin</label>
                        @Html.TextBoxFor(model => model.NextOfkin, string.Empty, new { @placeholder = "Next of Kin full name", @class = "validate", required = "required" })
                    </div>
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Employer name</label>
                    @Html.TextBoxFor(model => model.employer, new { @placeholder = "Employer name", required = "required" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Employer address</label>
                    @Html.TextBoxFor(model => model.OfficeAddress, new { @placeholder = "Office address details", required = "required" })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">Residential address</label>
                    @Html.TextBoxFor(model => model.ResidentialAddress, new { @placeholder = "Residential address details.", required = "required" })
                </div>
              
                <div class="input-field col s6 ">
                    <label style="font-weight: bold">Phone</label>
                    <span class="prefix" style="padding-bottom:13px; padding-top:7px;font-size:12pt;
                            border:1px solid gainsboro;
                             color:rgb(1, 87, 155); background:whitesmoke; margin-top:5px;">
                        +234
                    </span>
                    @Html.TextBoxFor(model => model.phone, new { @placeholder = "enter number without first 0..", required = "required",  maxlength = 10 })
                </div>
                <div class="input-field col s6 ">
                    <label style="font-weight: bold">Email (optional)</label>
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "", })
                </div>
                <div class="input-field col s12">
                    <label style="font-weight: bold">State of origin</label><br /><br />
                    <select id="StateOfOrigin" name="StateOfOrigin">
                        <option value="" disabled selected>Select State</option>
                        <option>Akwa Ibom </option>
                        <option>Abia </option>
                        <option>Adamawa </option>
                        <option>Anambra </option>
                        <option>Bauchi</option>
                        <option>Bayelsa</option>
                        <option>Benue </option>
                        <option>Borno</option>
                        <option>Cross River</option>
                        <option>Delta</option>
                        <option>Enugu</option>
                        <option>Federal Capital Territory</option>
                        <option>Gombe</option>
                        <option>Imo</option>
                        <option>Jigawa</option>
                        <option>Kaduna</option>
                        <option>Kano</option>
                        <option>Katsina</option>
                        <option>Kebbi</option>
                        <option>Kogi</option>
                        <option>Kwara</option>
                        <option>Lagos</option>
                        <option>Nasarawa</option>
                        <option>Niger</option>
                        <option>Ogun</option>
                        <option>Ondo</option>
                        <option>Osun</option>
                        <option>Oyo</option>
                        <option>Plateau</option>
                        <option>Rivers</option>
                        <option>Sokoto</option>
                        <option>Taraba</option>
                        <option>Yobe</option>
                        <option>Zamfara</option>
                    </select>
                </div>
            </div><br />
            <div class="card-action" style="margin-top:5em;">
                <input type="submit" class="btn btn-info" value="Enroll new customer" />
                <a href="~/Home/cashier" class="btn btn-primary">
                    <img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!
                </a><br />
            </div>
        </div>
    </div>
}
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


<style>
    .file-path-wrapper .file-path {
        box-sizing: border-box;
    }

    .file-field .btn, .file-field .btn-large {
        margin-top: 5px;
    }

    .card input[type="text"], .card input[type="number"], .card input[type="email"], .card input[type="password"], .card select {
        box-sizing: border-box;
    }
</style>
<script>
    $('input[name=phone]').on('input propertychange paste', function (e) {
        var reg = /^0+/gi;
        if (this.value.match(reg)) {
            this.value = this.value.replace(reg, '');
        }
    });
</script>