@model CRIMAS.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        @Html.HiddenFor(model => model.CustomerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NextOfkin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NextOfkin)
            @Html.ValidationMessageFor(model => model.NextOfkin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfficeAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfficeAddress)
            @Html.ValidationMessageFor(model => model.OfficeAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResidentialAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResidentialAddress)
            @Html.ValidationMessageFor(model => model.ResidentialAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VillageClan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VillageClan)
            @Html.ValidationMessageFor(model => model.VillageClan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocalGovtArea)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LocalGovtArea)
            @Html.ValidationMessageFor(model => model.LocalGovtArea)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateCreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateCreated)
            @Html.ValidationMessageFor(model => model.DateCreated)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
