@using System.Globalization;
@using System.Threading;

@model IEnumerable<CRIMAS.Models.Customer>
    @{
        ViewBag.Title = "Customer List";
        Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

        var db = new CRIMAS.Models.CrimasDb();
        var searchString = ViewBag.searchString;

        var message = Convert.ToString(ViewBag.Message);
        var messageType = Convert.ToString(ViewBag.MessageType);
        var msgColor = messageType == "Success" ? "green" : "red";

        //Set Culture info for currency
        CultureInfo cultureInfo = new CultureInfo("en-US");
        cultureInfo.NumberFormat.CurrencySymbol = "₦";

        Thread.CurrentThread.CurrentCulture = cultureInfo;


        decimal encumbered = 0;
        decimal outstanding_totalInterest = 0;
        decimal outstanding_totalPrincipalPlusInterest = 0;

        decimal finished_totalInterest = 0;
        decimal finished_totalPrincipalPlusInterest = 0;

    }

    <div style="padding-top:4em;">
        @if (Model.Count() == 0)
        {
            <div class="card-panel" style="width:70%; margin-left:auto; margin-right:auto; ">
                <p style="padding-bottom:30px;">
                    <b>Your search yielded @Model.Count() result(s)</b>
                    <span style="float:right; margin-right:20px;"><a href="~/Home/Cashier" class="btn btn-info"><img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home</a></span>
                </p>
            </div>
        }
        <!--Check if there are more than one customer with thesame ID-->
        @if (Model.Count() > 1)
        {
            <div class="card-panel" style="width:70%; margin-left:auto; margin-right:auto; ">
                <p style="padding-bottom:30px;">
                    <b>Your search yielded @Model.Count() result(s). Please Enter a specific customer account number</b><br />
                    <br /><span style="float:right; "><a href="~/Home/Cashier" class="btn btn-info"><img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home</a></span>
                </p>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                var customerLoan = db.Loans.Where(x => x.AccountNo == item.AccountNo || x.Customername.Contains(item.Name)).Where(x => x.LoanStatus == "active").ToList();
                encumbered = customerLoan.Select(x => x.amount).Sum() * 0.1m;

                var finishedLoan = db.Loans.Where(x => x.AccountNo == item.AccountNo || x.Customername.Contains(item.Name)).Where(x => x.LoanStatus == "completed").ToList();




                var savingsCredit = 0m;
                var savingsDebit = 0m;
                if (db.CustomerSavings.Count() != 0)
                {
                    savingsCredit = db.CustomerSavings.Where(x => x.AccountNo == @item.AccountNo || x.Name.Contains(@item.Name)).Select(x => x.Credit).DefaultIfEmpty().Sum();
                    savingsDebit = db.CustomerSavings.Where(x => x.AccountNo == @item.AccountNo || x.Name.Contains(@item.Name)).Select(x => x.Debit).DefaultIfEmpty().Sum();
                }
                var savingsBalance = savingsCredit - savingsDebit;
                //var imageUrl = string.IsNullOrEmpty("/Customer/RetrieveImage/@item.CustomerId") ? "/images/user-48.png" : item.ImageUrl;

                if (!string.IsNullOrEmpty(message))
                {
                    <span style="color:@msgColor; text-align:center;display: block;">
                        @Html.Raw(message)
                    </span>
                }

                <div style="width:70%;  border-radius:0;  margin-left:auto; margin-right:auto; ">

                    <span style="font-size:16pt;">
                        <a href="~/Home/cashier" style="float:right;margin-right:25px; font-size:10pt;" class="btn btn-floating  waves-effect waves-light blue"><img src="~/Images/Home.png" /></a>
                        @*   <a href="~/Customer/Create" class="btn btn-primary" style="float:right; background:#6200ea;  margin-right:10px; margin-top:2px; font-size:10pt;">+ enroll </a>*@

                        @{

                            if (item.image != null)
                            {
                                <img id="ProfileImage" name="file" class="circle responsive-img valign" src="~/Customer/RetrieveImage/@item.CustomerId" /> @Html.DisplayFor(modelItem => item.Name)<hr />

                            }
                            else
                            {
                                <img id="ProfileImage" name="file" class="circle responsive-img valign" src="~/images/user-48.png" /> @Html.DisplayFor(modelItem => item.Name)<hr />

                            }

                        }
                    </span>
                    <p>
                        <span style="font-size:15pt; ">
                            <strong>
                                Account No.: @Html.DisplayFor(modelItem => item.AccountNo)
                            </strong>
                        </span>
                        <span style="float:right">
                            Account opening date: <i> @DateTime.Parse(@item.DateCreated.ToString()).ToLongDateString()</i><br /><br />
                        </span>
                        @*    @Html.DisplayFor(modelItem => item.OfficeAddress)*@
                    </p>

                </div>


                            //account Summary
                            <div class="card" style="width:70%; margin-left:auto; margin-right:auto">
                                <div class="card-content">
                                    <h5>
                                        <img src="~/Images/Coin-01-WF.png" />Account Summary
                                        <a style="float:right" class="btn btn-primary" href="~/CustomerSavings/CheckAccount?accountno=@item.AccountNo">view account status</a>
                                    </h5><hr /><br />


                                    <table class="table bordered striped">
                                        <tr>
                                            <td>Total Regular Savings to Date:</td>
                                            <td><b style="color:blue">@string.Format("{0:C}", @savingsBalance)</b></td>
                                        </tr>
                                        <tr>
                                            <td>Encumbered savings:</td>
                                            <td><b style="color:blue">@string.Format("{0:C}", encumbered)</b></td>
                                        </tr>
                                        <tr>
                                            <td><b>Balance:</b></td>
                                            <td><b style="color:blue">@string.Format("{0:C}", @savingsBalance - encumbered)</b></td>
                                        </tr>
                                    </table>


                                </div>
                            </div>

                            //Loans
                            <div class="card" style="width:70%; margin-left:auto; margin-right:auto">
                                <div class="card-content">
                                    <h5 style="text-align:right">
                                       Outstanding loans <img src="~/Images/loan-agr.png" />
                                    </h5><br />
                                    <table class="table bordered striped" style="font-size:10pt;">
                                        <tr style="background-color:#0078d7; color:white;">
                                            <td>Date Issued</td>
                                            <td>Principal + Interest</td>
                                            <td>Interest</td>
                                            <td>Total Paid</td>
                                            <td>Outstanding</td>
                                            <td>Encumbered</td>
                                            <td>Loan Statement</td>
                                        </tr>

                                        @foreach (var record in customerLoan)
                                        {

                                            <tr>
                                                <td>@record.DateCreated.ToLongDateString()</td>
                                                <td>
                                                    @string.Format("{0:C}",
                                                          record.amount + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration)))
                                                </td>
                                                <td>
                                                    @string.Format("{0:C}",
                                                         (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration)))

                                                </td>
                                                <td>
                                                    @*  @record.LoanTransactions.Select(x => x.refund).FirstOrDefault();*@
                                                </td>
                                                <td></td>
                                                <td>
                                                    @string.Format("{0:C}", (record.amount * 0.1m))
                                                </td>
                                                <td>
                                                    <a href="~/Loan/statement?loanId=@record.Id">View Statement </a>

                                                </td>
                                            </tr>
                                            outstanding_totalInterest = outstanding_totalInterest + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration));
                                            outstanding_totalPrincipalPlusInterest = outstanding_totalPrincipalPlusInterest + record.amount + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration));
                                        }
                                        <tr>
                                            <td><b>Total:</b></td>
                                            <td>
                                                <b>@string.Format("{0:C}", outstanding_totalPrincipalPlusInterest)</b>
                                            </td>
                                            <td>
                                                <b>@string.Format("{0:C}", @outstanding_totalInterest)</b>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <b>@string.Format("{0:C}", encumbered)</b>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>

                            //finished loans
                            <ul class="card collapsible" data-collapsible="accordion" style="width:70%;  margin-left:auto; margin-right:auto;">
                                <li class="row" style="text-align:center">
                                    <div class="collapsible-header">
                                        <h5 style="padding-bottom:0.2em;">
                                            <span style="float:right; color:rgb(1, 87, 155); padding-right:2em;">
                                                Finished loans <i style="margin-top:-0.2em;" class="fa fa-th-list" aria-hidden="true"></i>
                                                @*<img src="~/Images/loan-agr.png" />*@
                                            </span>
                                            <i class="fa fa-chevron-down" style="color:gray; font-weight:lighter"></i>
                                        </h5><br />
                                    </div>
                                    <div class="collapsible-body card-content">
                                        <div >
                                            <div class="card-content">
                                              
                                                <table class="table bordered striped" style="font-size:10pt;">
                                                    <tr style="background-color:gray; color:white;">
                                                        <td>Date Issued</td>
                                                        <td>Principal + Interest</td>
                                                        <td>Interest</td>
                                                        <td>Total Paid</td>
                                                        <td>Outstanding</td>
                                                        <td>Encumbered</td>
                                                        <td>Loan Statement</td>
                                                    </tr>

                                                    @foreach (var record in finishedLoan)
                                                    {

                                                                    <tr>
                                                                        <td>@record.DateCreated.ToLongDateString()</td>
                                                                        <td>
                                                                            @string.Format("{0:C}",
                                                          record.amount + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration)))
                                                                        </td>
                                                                        <td>
                                                                            @string.Format("{0:C}",
                                                         (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration)))

                                                                        </td>
                                                                        <td>
                                                                            @*  @record.LoanTransactions.Select(x => x.refund).FirstOrDefault();*@
                                                                        </td>
                                                                        <td></td>
                                                                        <td>
                                                                            @string.Format("{0:C}", (record.amount * 0.1m))
                                                                        </td>
                                                                        <td>
                                                                            <a href="~/Loan/statement?loanId=@record.Id">View Statement </a>

                                                                        </td>
                                                                    </tr>
                                            finished_totalInterest = finished_totalInterest + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration));
                                            finished_totalPrincipalPlusInterest = finished_totalPrincipalPlusInterest + record.amount + (record.amount * (record.InterestRate / 100) * Convert.ToDecimal(record.Duration));
                                        }
                                                    <tr>
                                                        <td><b>Total:</b></td>
                                                        <td>
                                                            <b>@string.Format("{0:C}", outstanding_totalPrincipalPlusInterest)</b>
                                                        </td>
                                                        <td>
                                                            <b>@string.Format("{0:C}", @outstanding_totalInterest)</b>
                                                        </td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <b>@string.Format("{0:C}", encumbered)</b>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            //Customer personal details
                            <ul class="card collapsible" data-collapsible="accordion" style="width:70%;  margin-left:auto; margin-right:auto;">
                                <li class="row" style="text-align:center">
                                    <div class="collapsible-header">
                                        <p >
                                           <span style="font-size:16pt; float:right; color:rgb(1, 87, 155); padding-right:2em;">Customer personal details <i class="fa fa-user" aria-hidden="true"></i></span>
                                            <i class="fa fa-chevron-down" style="color:gray; font-weight:lighter"></i>
                                        </p>
                                    </div>
                                    <div class="collapsible-body card-content">
                                        <table class="table striped" style="font-size:10pt;">

                                            <tr>
                                                <td><b>Employer</b></td>
                                                <td style="float:right; padding-right:20px;">@Html.DisplayFor(modelItem => item.employer)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Office Address</b></td>
                                                <td style="float:right; padding-right:20px;">@Html.DisplayFor(modelItem => item.OfficeAddress)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Residence</b></td>
                                                <td style="float:right; padding-right:20px;">@Html.DisplayFor(modelItem => item.ResidentialAddress)</td>
                                            </tr>
                                            <tr>
                                                <td><b>Next of Kin</b></td>
                                                <td style="float:right; padding-right:20px;">@Html.DisplayFor(modelItem => item.NextOfkin)</td>
                                            </tr>
                                            <tr>
                                                <td><b>State of origin</b></td>
                                                <td style="float:right; padding-right:20px;">@Html.DisplayFor(modelItem => item.StateOfOrigin)</td>
                                            </tr>
                                        </table>
                                    </div>

                                </li>
                            </ul>

                            //Image Upload
                            <ul class="card collapsible" data-collapsible="accordion" style="width:70%; margin-left:auto; margin-right:auto;">
                                <li class="row" style="text-align:center">
                                    <div class="collapsible-header">
                                        <p>
                                            <span style="font-size:16pt; float:right; color:rgb(1, 87, 155);padding-right:2em;">
                                                Click here to update customer profile image <i class="fa fa-user-plus" aria-hidden="true"></i>
                                            </span>
                                            <i class="fa fa-chevron-down" style="color:gray; font-weight:lighter"></i>
                                        </p>
                                    </div>
                                    <div class="collapsible-body" style="width:60%; margin-left:auto; margin-right:auto">
                                        @using (Html.BeginForm("UploadImage", "Customer", new { customerId = item.CustomerId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {

                                            <div class="input-field col s9">
                                                <div class="file-field input-field">
                                                    <div class="btn">
                                                        <span>Select Image</span>
                                                        <input type="file" name="file" id="file">
                                                    </div>
                                                    <div class="file-path-wrapper">
                                                        <input class="file-path validate" type="text" placeholder="  update customer profile image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-field col s3">
                                                <div class="file-field input-field">
                                                    <input type="submit" class="btn btn-primary" value="Update Image" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </li>
                            </ul>


                                }
                            }
    </div>


    <style>
        .file-path-wrapper .file-path {
            box-sizing: border-box;
        }

        .file-field .btn, .file-field .btn-large {
            margin-top: 5px;
        }

        .card input[type="text"], .card input[type="number"], .card input[type="email"], .card input[type="password"], .card select {
            box-sizing: border-box;
        }

        #ProfileImage {
            height: 48px;
            vertical-align: -12px;
            width: 48px;
        }

        .collapsible-header, .collapsible-body {
            border-bottom: none !important;
        }
    </style>

    <script>
                                                          $(document).ready(function () {
                                                              $('.collapsible').collapsible({
                                                                  accordion: false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                                                              });

                                                              $('#ProfileImage').error(function () {
                                                                  $(this).attr('src', '/images/user-48.png');
                                                              });
                                                          });


    </script>
