@model IEnumerable<CRIMAS.Models.Customer>

@{
    ViewBag.Title = "Customer List";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

<div class="subheading">
    <span>
        @*<img src="~/Images/Customer-small.png" style="padding-right: 20px;" />*@List of Customers Search results.</span>
</div>
<br />
<div style="padding-left: 20px;">
    <div>
        
        <p>Your search yielded @Model.Count() result(s)
            <span style="float:right; margin-right:20px;"><a href="~/Home/Cashier" class="btn btn-info" style="padding:10px"><img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home</a></span>
        </p>
    </div>

    @foreach (var item in Model)
    {
        <div>
            <img src="~/Images/Customer-small.png" />
        </div>
        <div class="alert alert-info" style="margin-right: 20px; padding-top: 30px; line-height: 10pt">
            @*  <img src="~/Images/Customer-small.png" />*@
            <div style="border-bottom: solid; border-bottom-width: 1px; border-bottom-color: #CCCCCC; margin-bottom: 10px;">
                <p style="font-size: 18pt; color: black">@Html.DisplayFor(modelItem => item.Name)</p>
            </div>
            <p style="font-style: italic; color: green">Account opening date: @item.DateCreated</p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Account number: <strong>@Html.DisplayFor(modelItem => item.AccountNo)</strong></p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Next of kin: <strong>@Html.DisplayFor(modelItem => item.NextOfkin)</strong></p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Office address: <strong>@Html.DisplayFor(modelItem => item.OfficeAddress)</strong></p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Residential address: <strong>@Html.DisplayFor(modelItem => item.ResidentialAddress)</strong></p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Village Clan: <strong>@Html.DisplayFor(modelItem => item.VillageClan)</strong></p>
            <p style="padding-left: 20px; color: black">&nbsp;&nbsp;Local govt. Agrea: <strong>@Html.DisplayFor(modelItem => item.LocalGovtArea)</strong></p>
        </div>
    }

</div>
