@model IEnumerable<CRIMAS.Models.Customer>
@{
    ViewBag.Title = "ViewAllCustomers";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    var db = new CRIMAS.Models.CrimasDb();
    var customers = Model.ToList();


}


<div class="card" style="width:80%; margin-left:auto; margin-right:auto; margin-top:2em;">
    <div class="card-content">
        <div class="card-title" style="color:black">
            <span>Customers Enrolled - <b style="color:#ff6a00">@db.Customers.Count()</b></span>
            <a href="~/Customer/ExportData" class="btn  btn-primary" style="float:right; background:#217346" title="Export customer data to excel">
                <img src="~/Images/Excel Online.png" />  </a>
            <a href="~/Customer/Create" class="btn btn-primary" style="float:right; background:#6200ea;  margin-right:10px; margin-top:2px; font-size:10pt;">+ enroll new customer </a>
        </div><hr />
        @{
            <table class="table striped bordered">
                <tr style="background:#4caf50; color:white; font-weight:bold">
                    <td>Customer</td>
                    <td>Account No.</td>
                    <td>Employer</td>
                    <td>Balance</td>
                    <td>&nbsp;</td>
                </tr>
                @foreach (var item in customers)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.AccountNo</td>
                        <td>@item.OfficeAddress</td>
                        <td style="color:orangered; font-weight:bold">
                            @{
                    var credit = 0m;
                    var debit = 0m;
                    if (db.CustomerSavings.Count() != 0)
                    {
                        var customer = db.CustomerSavings.Where(x => x.AccountNo == @item.AccountNo);
                        if (customer != null)
                        {
                            credit = customer.Select(x => x.Credit).DefaultIfEmpty().Sum();
                            debit = customer.Select(x => x.Debit).DefaultIfEmpty().Sum();
                        }
                    }

                    var balance = credit - debit;
                            }
                            N @balance [NGN]
                        </td>
                        <td>
                            @{
                    if (User.IsInRole("Admin"))
                    {
                        <a title="remove this customer" href="~/Customer/Delete/@item.CustomerId" class="btn btn-floating  waves-effect waves-light" style="float:right; background:#b71c1c ;  margin-right:10px; margin-top:2px; font-size:10pt;">
                            X
                        </a>
                    }
                            }
                            <a title="view customer account details" href="~/Customer/FindCustomer?searchString=@item.AccountNo" class="btn btn-floating  waves-effect waves-light" style="float:right; background:#6200ea;  margin-right:10px; margin-top:2px; font-size:10pt;">
                                <img style="margin-top:2px;" src="~/Images/View Medium icons-WF.png" />
                            </a>

                        </td>
                    </tr>
                }
            </table>

        }
    </div>
</div>