@*this layout is for administrative user only*@
@using CRIMAS.Models;

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CRIMAS-MPCS Ltd. Web Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/floating-1.12.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
     
    <script type="text/javascript">
        floatingMenu.add('floatdiv',
            {
                // Represents distance from top or  
                // bottom browser window border  
                // depending upon property used.  
                // Only one should be specified.  
                // targetTop: 10,
                targetBottom: 10,

                // prohibits movement on x-axis  
                prohibitXMovement: true,

                // Remove this one if you don't  
                // want snap effect  
                snap: false
            });
    </script>
</head>
<body>

    <div class="container-narrow">
        <div class="masthead">
            @Html.Partial("_LoginPartial")
            <h3 class="muted">
                @*<img src="~/windows8_icons/User_Role/reviewer/reviewer-32.png" style="margin-right: 10px;" /><b>Cashier</b>*@
                <img src="~/Images/Crimas-header.png" />
            </h3>
        </div>
        @*<hr />*@
        @* <div class="dashHead">You are logged in as <b>@User.Identity.Name.ToString()</b></div>*@
        <div style="margin-top: 50px;"></div>
        @{
            var db = new CrimasDb();

            string id = User.Identity.Name.ToString();

            var nFirstName = from s in db.UserProfiles where s.UserName == id select s.FirstName;

            var nLastName = from s in db.UserProfiles where s.UserName == id select s.LastName;
        }
        <div class="cashier-toolbar">
            <label style="float: right; padding-right: 10px; padding-top: 5px; width: 400px;">Welcome, @nFirstName.FirstOrDefault()&nbsp;@nLastName.FirstOrDefault()&nbsp;|&nbsp;<a href="~/Account/Manage">Change your password</a></label>
        </div>
        <div class="cashier-menu visible-desktop hidden-phone hidden-tablet ">
            <ul>
                <li><a href="~/Home/Cashier">
                    <img src="~/Images/House.png" />&nbsp;home</a></li>
                <li><a href="#">
                    <img src="~/Images/Help.png" />&nbsp;help</a>
                  
                </li>           
            </ul>

        </div>
        <div class="cashier-main">
            @RenderBody()
        </div>

        <div class="footer span10" style="margin-top: 5%">
            <hr />
            <p style="font-size: 9pt; text-align: center">&copy; CRIMAS MPCS Limited 2013. Designed & Engineered by <a href="http://muzeolanigeria.com">muzeola nigeria Ltd.</a></p>
        </div>
    </div>

</body>
</html>

