@model CRIMAS.Models.Loan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}
<header>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
</header>

@using (Html.BeginForm("create", "Loan", FormMethod.Post,
    new { @onsubmit = "return confirm('Are you sure you want to create this loan agreement? Please confirm that the customer has paid 10% of loan amount upfront')" }))
{
    <span style="color:red">@Html.ValidationSummary()</span>

    <div class="subheading">
        <span> Create a new Loan agreement</span>
    </div>
    <br />

    <div style="padding-left: 20px">
        <table style="width:90%; margin-left:auto; margin-right:auto;">
            <tr>
                <td style="text-align:right; padding:10px; color:#808080; ">
                   <label style="font-weight:bold">&nbsp;&nbsp;Account no.</label>
                </td>
                <td>
                    <div class="input-prepend">
                        <span class="add-on"><img src="~/Images/Customer-small.png" /></span>
                        @Html.TextBoxFor(model => model.AccountNo, new { @placeholder = "Enter customer's account no.", @style = "width:180px" })
                        @*@Html.ValidationMessageFor(model => model.AccountNo, string.Empty, new {@class="ValidationMessage" })*@
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; padding:10px; color:#808080;">
                    <label style="font-weight:bold">Amount</label>

                </td>
                <td>
                    <div class="input-prepend input-append">
                        <span class="add-on"><b>₦</b></span>
                        @Html.TextBoxFor(Model => Model.amount, string.Empty, new { @style = "width:140px", @placeholder = "specify amount" })
                          <span class="add-on"><b>K</b></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; padding:10px; color:#808080;">
                   <label style="font-weight:bold">Duration</label>
                </td>
                <td>
                   @* @Html.TextBoxFor(model => model.Duration)*@
                  @*  @Html.ValidationMessageFor(model => model.Duration)*@
                    <div class="input-append">
                        <input type="number" name="Duration" id="Duration" min="1"  style="width:60px"/>
                        <span class="add-on">month(s)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:right; padding:10px; color:#808080">
                   <label style="font-weight:bold">Date of commencement</label>
                </td>
                <td>
                    @*<div class="input-append date datepicker" data-date="@DateTime.Now.ToShortDateString()" data-date-format="dd-mm-yyyy">
                        <input id="DateOfCommencement" name="DateOfCommencement" class="span2" size="16" type="text" value="@DateTime.Now.ToShortDateString()" readonly/><span class="add-on" title="Click on the calendar to add a date."><img src="~/Images/Calendar.png" /></span>
                    </div>*@
                    <input type="date"  name="DateOfCommencement" />
                </td>
            </tr>
            <tr>
                <td style="text-align:right; padding:10px; color:#808080">
                    <label style="font-weight:bold">Approved intrest rate</label>
                </td>
                <td>
                    <div>
                       @* @Html.EditorFor(model => model.InterestRate)    *@
                        <div class="input-append">
                        <input type="number" id="InterestRate" name="InterestRate"  min="1" style="width:50px"/>
                            <span class="add-on">%</span>
                        </div>
                    </div>
                </td>
            </tr>          
        </table>
       <br />
        <br />
        <p style="text-align:center">
            <input type="submit" class="btn btn-success" value="Create loan agreement" />
            <a href="~/Home/cashier" style="padding: 10px" class="btn btn-primary">
                <img src="~/Images/Home.png" />&nbsp;&nbsp;Take me home!</a><br />
        </p><br />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/jqueryui")
    <script src="~/Content/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        }); //Initialise any date pickers
    </script>
    @*<script>
         $(function () {
             $("#DateOfCommencement").datepicker();
         });
  </script>*@

}

