@model CRIMAS.Models.Loan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}


<div class="subheading">
    <span>
        <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Delete Loan agreement</span>
</div>
<br />
<div class="alert alert-danger">
    <p>Are you sure you want to delete this loan?</p>
</div>
<div style="padding-left: 20px;" class="loan-div ">
    <br />
    <br />
    <p style="font-size: 18pt; font-family: 'Microsoft JhengHei'">
        @Html.DisplayFor(model => model.Customername)
        <span style="float: right; padding-right: 20px">
            <img src="~/Images/Customer(2).png" /></span>
    </p>
    <hr style="border-bottom-color: #CCCCCC;" />

    <div style="padding-left: 20px; line-height: 7pt; font-size: 10pt; font-style: italic">
        <p>
            Account No.:<strong>@Html.DisplayFor(model => model.AccountNo)</strong>&nbsp;&nbsp;
                Duration:<strong> @Html.DisplayFor(model => model.Duration) Year(s)</strong>&nbsp;&nbsp;
                Interest rate: <strong>@Html.DisplayFor(model => model.InterestRate)%</strong>
        </p>

        <p>
            Date of Commencement: <strong>@Html.DisplayFor(model => model.DateOfCommencement)</strong>&nbsp;&nbsp;
                 Date of Termination:<strong> @Html.DisplayFor(model => model.DateOfTermination)</strong>
        </p>
        <br />
    </div>
</div>
@using (Html.BeginForm())
{
    <br />
    <p style="padding-left:20px">
        <input type="submit" class="btn btn-danger" style="padding:14px" value="Delete" />

      <a href="~/Loan/" class="btn btn-info"><img src="~/Images/Details View.png" />back to list</a>
    </p>
}
