@model IEnumerable<CRIMAS.Models.LoanTransaction>
@using CRIMAS.Models;
@using System.Globalization;
@using System.Threading;

@{
    ViewBag.Title = "CheckLoanStatus";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}
<div style="width:80%; margin-left:auto; margin-right:auto;">
    <h5>
        <img src="~/Images/loan-agr.png" style="padding-right: 10px;" />Customer loan status
    </h5>
</div>
<br />
<div class="card" style="width:80%; margin-left:auto; margin-right:auto;">
    <div class="card-content">

        <div style="padding-left: 20px; padding-bottom: 20px; padding-right: 20px">
            <div>
                @{
                    var db = new CrimasDb();

                    var loans = from s in db.Loans select s;
                    var accountno = from s in Model select s.AccountNo;

                    var dateCreated = from s in Model select s.DateCreated;

                    string acc = ViewBag.AccountNo;

                    var name = from s in db.Customers where s.AccountNo == acc select s.Name;

                    var balance = (ViewBag.totalCredits - ViewBag.totalDebits);


                    //Set Culture info for currency
                    CultureInfo cultureInfo = new CultureInfo("en-US");
                    cultureInfo.NumberFormat.CurrencySymbol = "₦";

                    Thread.CurrentThread.CurrentCulture = cultureInfo;

                    <div style="font-size: 16pt; text-align: left;">
                        <span class="card-title" style="color:#4a148c">@name.FirstOrDefault()  </span>
                        @{
                            if (balance > 0)
                            {
                                <a href="~/Home/cashier" style="float:right;margin-right:25px;" class="btn btn-floating  waves-effect waves-light blue"><img src="~/Images/Home.png" /></a>
                                <a href="~/LoanTransaction/Create/?accountNO=@ViewBag.AccountNo" class="btn btn-primary" style="float:right; background:#6200ea;  margin-right:10px; margin-top:2px;">Re-fund </a>
                                <br />
                                <hr />
                                <b>Account No.: @ViewBag.AccountNo</b><br />
                                <label class="alert-small alert-danger" style="text-align: center">
                                    <strong>Heads Up!</strong>
                                    @name.FirstOrDefault()  has accessed <strong>@ViewBag.NoOfLoanAgreements</strong> loan agreement(s).
                                </label>
                                var LoanAgreements = (from s in db.Loans
                                                     where s.AccountNo == acc 
                                                     select new
                                                     {
                                                         Id = s.Id,
                                                         amount = s.amount,
                                                         DateCreated = s.DateOfCommencement,
                                                         completionDate = s.DateOfTermination,
                                                         status = s.LoanStatus
                                                     }).Where(x=>x.status=="active");

                                                    <br />
                                                    <div style="font-size:12pt;">
                                                        <strong>Current Loan agreement details:</strong><br /><br />
                                                        <table class="table striped " style="font-size:10pt;">
                                                            <tr style="background-color:#2d742d; color: whitesmoke">
                                                                <td>Date</td>
                                                                <td>Amount</td>
                                                                <td>Completion Date</td>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            @foreach (var item in @LoanAgreements)
                                                            {
                                                                <tr style="font-weight:bold; color:chocolate">
                                                                    <td>@item.DateCreated.ToShortDateString()</td>
                                                                    <td>₦@item.amount (NGN)</td>
                                                                    <td>@item.completionDate.ToShortDateString()</td>
                                                                    <td>
                                                                        <a href="@Url.Action("Delete", "Loan", new { id =  item.Id})" class="waves-effect waves-light btn" style="background:#c62828; font-size:8pt;">Terminate</a>

                                                                    </td>
                                                                </tr>
                                                            }

                                                        </table>
                                                    </div>
                            }
                            if (balance <= 0)
                            {
                                <br />
                                <br />
                                <label class="alert-small alert-danger" style="text-align: center"><strong>Heads Up!</strong>   @name.FirstOrDefault() has completed this loan repayment!</label>
                            }
                        }
                    </div>

                    <hr style="border-bottom-color: #CCCCCC;" />

                }


                <div>
                    <label style="color: green; font-style: italic">Last amount borrowed: <b>@ViewBag.AmountBorrowed</b></label>
                </div>
                @{
                    if (balance <= 0)
                    {
                        <div style="float: left; text-align: left; font-size:12pt;">
                            <label style="color: blue">Balance: <b>@string.Format("{0:C}", @balance)</b> <b>(NGN)</b></label>
                        </div>
                        <br />
                    }
                    if (balance > 0)
                    {
                        <div style="float: left; font-size:12pt;">
                            <label style="color: red">Loan Balance: <b>-@string.Format("{0:C}", @balance)</b> <b>(NGN)</b></label>
                        </div>

                    }
                }

            </div>
            <br />
            <br />
            <div style="font-size:12pt;">
                <strong>Transaction details:</strong><br /><br />
            </div>
            <table class="table striped" style="font-size:10pt;">
                <tr style="background-color: #2A3333; color: whitesmoke">
                    <td>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.amount)
                    </td>
                    <td>
                        <label>refund</label>
                    </td>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.refund)
                        </td>


                    </tr>
                }

            </table>
        </div>

    </div>
</div>