@model CRIMAS.Models.Loan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}

@*@onsubmit = "return confirm('Are you sure you want to create this loan agreement? Please confirm that the customer has paid 10% of loan amount upfront')"*@

@using (Html.BeginForm("create", "Loan", FormMethod.Post, new { id = "formCreateLoan", enctype = "multipart/form-data" }))
{
    <div class="card animated fadeIn" style="width:80%; margin-left:auto; margin-right:auto;">
        <div class="card-content">

            <div class="card-title" style="color:black">
                @*<a href="~/Home/cashier" style="float:right;margin-right:25px; background-color:#0078d7; color:white;" class="btn btn-floating btn-large waves-effect waves-light"><img src="~/Images/Home.png" /></a>*@
                <span>
                  @*  <img src="~/Images/loan-agr.png" />*@
                    @*<i class="ion ion-plus"></i>*@
                    Setup a new Loan
                </span><hr />
            </div>

            <div class="card-panel notice" >
                Enter details below to set up a loan for a customer.
                <a><i class="ion ion-android-close"></i></a>
                <script>
                    $('.ion-android-close').click(function () {
                        $('.notice').fadeOut();
                    })
                </script>
            </div>

            <span style="color:red">@Html.ValidationSummary()</span>

            <div class="row">

                <div class="col s6">
                    <label for="accountNo" style="font-weight:bold">Account no.</label>
                    <span class="add-on"><img src="~/Images/Customer-small.png" /></span>
                    @Html.TextBoxFor(model => model.AccountNo, new { @placeholder = "Enter customer's account no.", @name = "accountNo", required = "required" })
                    @*@Html.ValidationMessageFor(m => m.AccountNo, String.Empty, new { @class = "ValidationMessage" })*@
                </div>

                <div class="col s6">
                    <label style="font-weight:bold">Amount</label>
                    <span class="add-on"><b>₦</b></span>
                    @Html.TextBoxFor(Model => Model.amount, string.Empty, new { @placeholder = "specify amount", required = "required" })
                    @*@Html.ValidationMessageFor(m => m.amount, String.Empty, new { @class = "ValidationMessage" })*@
                </div>

                <div class="col s6">
                    <label style="font-weight:bold">Duration [month(s)]</label>
                    @Html.TextBoxFor(model => model.Duration, new { @placeholder = "Specify loan duration in months.", type = "number", min = "1", required = "required" })
                    @*@Html.ValidationMessageFor(m => m.Duration, String.Empty, new { @class = "ValidationMessage" })*@
                </div>

                <div class="col s6">
                    <label style="font-weight:bold">Date of commencement</label>
                    @Html.TextBoxFor(model => model.DateOfCommencement, new { @placeholder = "Enter date of commencement of facility.", type = "date", required = "required" })
                    @*@Html.ValidationMessageFor(m => m.DateOfCommencement, String.Empty, new { @class = "ValidationMessage" })*@
                </div>
                <script>
                    $('#DateOfCommencement').pickadate({
                        selectMonths: true, // Creates a dropdown to control month
                        //selectYears: 100, // Creates a dropdown of 15 years to control year
                    });
                </script>

                <div class="col s6">
                    <label style="font-weight:bold">Approved interest rate %</label>
                    @Html.TextBoxFor(model => model.InterestRate, new { @placeholder = "Specify interest rate.", type = "number", min = "1", required = "required" })
                    @*@Html.ValidationMessageFor(m => m.InterestRate, String.Empty, new { @class = "ValidationMessage" })*@
                </div>

                <div class="col s12">
                    <label style="font-weight:bold">Attach 1page scanned agreement document </label>
                    <div class="file-field">
                        <div class="btn">
                            <span><i class="ion ion-android-attach"></i></span>
                            <input type="file" name="fileAgreement" id="fileAgreement">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="ImgAgreementUrl" name="ImgAgreementUrl" class="file-path validate" type="text" placeholder="Upload Signed Agreement Form" required="required">
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <label style="font-weight:bold">Attach 1page scanned Irrevocable Authority </label>
                    <div class="file-field">
                        <div class="btn">
                            <span><i class="ion ion-android-attach"></i></span>
                            <input type="file" name="fileIrrevocable" id="fileIrrevocable">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="ImgIrrevocableUrl" name="ImgIrrevocableUrl" class="file-path validate" type="text" placeholder="Upload Signed Irrevocable Authority Form" required="required">
                        </div>
                    </div>
                </div>

                <div class="col s12">
                    <label style="font-weight:bold">Attach 1page scanned Guarantors document</label>
                    <div class="file-field">
                        <div class="btn">
                            <span><i class="ion ion-android-attach"></i></span>
                            <input type="file" name="fileGuarantors" id="fileGuarantors">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="ImgGuarantorsUrl" name="ImgGuarantorsUrl" class="file-path validate" type="text" placeholder="Duly Signed Guarantors Forms" required="required">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-action">
                <button style="float:right;" type="submit" class="waves-effect waves-light btn">Create new loan for this customer</button>
                <br />
            </div>
        </div>
    </div>
}
@section Scripts {

    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/jqueryui")

    <script>
        $(document).ready(function () {
            $('#formCreateLoan').submit(function () {
                if ($('#DateOfCommencement').val() != "") {
                    return confirm('Are you sure you want to create this loan agreement? Please confirm that the customer has paid 10% of loan amount upfront');
                }
                else {
                    alert("Please select the date loan deduction commences. ");
                    return false;
                }
            });
        })
    </script>
}

<style>
    .file-path-wrapper .file-path {
        box-sizing: border-box;
    }

    .file-field .btn, .file-field .btn-large {
        margin-top: 5px;
    }
</style>
