@model CRIMAS.Models.Loan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";
}


<div class="card" style="width:70%; margin-left:auto; margin-right:auto;">
    <div class="card-content">
        <div class="card-title" style="color:black">
            <span>
                <img src="~/Images/loan-agr.png" style="padding-right: 20px;" />Terminate Loan agreement<hr />
            </span>
        </div>
        <br />
        <div class="alert alert-danger">
            <p style="color:red; font-size:15pt; font-weight:bold">Are you sure you want to Terminate this loan?</p><br />
        </div>
        <div style="padding-left: 20px; background:#ede7f6; border-left:3px solid #673ab7; " class="loan-div " >
            <br />
            <br />
            <p style="font-size: 18pt; font-family: 'Microsoft JhengHei'">
                @Html.DisplayFor(model => model.Customername) | <span style="color:red; font-weight:bold">₦ @Html.DisplayFor(model => model.amount) [NGN]</span>
                <span style="float: right; padding-right: 20px">
                    <img src="~/Images/Customer(2).png" />
                </span>
            </p>
            <hr style="border-bottom-color: #CCCCCC;" />

            <div style="padding-left: 20px;  font-size: 10pt; font-style: italic">
                <p>
                    Account No.:<strong>@Html.DisplayFor(model => model.AccountNo)</strong>&nbsp;&nbsp;
                    Duration:<strong> @Html.DisplayFor(model => model.Duration) Year(s)</strong>&nbsp;&nbsp;
                    Interest rate: <strong>@Html.DisplayFor(model => model.InterestRate)%</strong>
                </p>

                <p>
                    Date of Commencement: <strong>@Html.DisplayFor(model => model.DateOfCommencement)</strong>&nbsp;&nbsp;
                    Date of Termination:<strong> @Html.DisplayFor(model => model.DateOfTermination)</strong>
                </p>
                <br />
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <br />
            <p style="padding-left:20px">
                <button style="background:#c62828" type="submit" class="waves-effect waves-light btn" >Yes! I want to Terminate</button>

                <a href="~/Loan/" class="waves-effect waves-light btn">back to list</a>
            </p>
        }

    </div>
</div>