@using CRIMAS.Models;

@{
    ViewBag.Title = "IncomeAnalysisReport";

    Layout = "~/Views/Shared/_PrintLayoutPage.cshtml";

    var db = new CrimasDb();


    string val = ViewBag.Month;

    DateTime ReportMonth = DateTime.Parse(val);
    int month = ReportMonth.Month;
    int year = ReportMonth.Year;

    var query = (from s in db.Loans
                 where s.DateCreated.Year == year
                     && s.DateCreated.Month == month

                 orderby s.DateCreated descending

                 select new
                 {
                     DateCreated = s.DateCreated,
                     Amount = s.amount,
                     interest = s.InterestRate,
                     customer = s.Customername,
                     customerAccount = s.AccountNo,
                 }).ToList();

    var TotalLoanDisbursments = (from s in db.Loans select s.amount).Sum();
    var TotalExpectedIncome = (from s in db.Loans select s.amount * s.InterestRate / 100 + s.amount).Sum() - TotalLoanDisbursments;
    
       

}

<div class="muted">
    <img src="~/Images/Crimas-header.png" />
</div><br /><br />
<p style="font-family:'Microsoft JhengHei'; font-size:18pt; border-bottom:solid 1px #808080; padding-bottom:15px"><b>Income Analysis Report</b></p>
<div style="padding-left: 20px; padding-bottom: 20px; padding-right: 20px">
    <p style="padding-bottom:50px">
        <a href="~/IncomeAnalysis" style="float:right; margin-left:10px" class="btn-small btn-success">back</a>
        <a href="javascript:window.print()" style="float:right; text-decoration:none" ; class="btn-small btn-success">&nbsp;&nbsp;<img src="~/Images/Printer.png" />&nbsp;&nbsp;</a>
    </p>
    @{
        <p>
            <label><strong>Total Loan Disbursments as at @ViewBag.Month: @string.Format("{0:C}", @TotalLoanDisbursments)</strong></label>
            <label><strong>Expected Income: @string.Format("{0:C}", @TotalExpectedIncome)</strong></label>
        </p>
        <table class="table table-condensed table-stripped table-bordered">
            <tr style="background-color: green; color: whitesmoke">
                <td>Date</td>
                <td>Customer</td>
                <td>Account No.</td>
                <td>Loan Disbursment</td>
                <td>Interest Rate</td>
                <td>Expected Income</td>
            </tr>
            @foreach (var item in query)
            {
                decimal ExpectedIncome = ((item.interest / 100) * item.Amount) + item.Amount;
                <tr>
                    <td><label> @item.DateCreated</label></td>
                    <td>@item.customer</td>
                    <td>@item.customerAccount</td>
                    @* @string.Format("{0:C}", @balance)*@
                    <td>@string.Format("{0:C}", @item.Amount)</td>
                    <td>@item.interest</td>
                    <td>@string.Format("{0:C}", @ExpectedIncome)</td>
                </tr>
            }
        </table>
        <table class="table  table-stripped table-bordered" style="margin-top:-27px">
            <tr>
                <td style="width:31.25%">&nbsp;</td>
                <td style="width:35.7%; font-weight:bolder"><b>Total Disbursements: @string.Format("{0:C}", @TotalLoanDisbursments)</b></td>
                <td><label><strong>Expected Income: @string.Format("{0:C}", @TotalExpectedIncome)</strong></label></td>
            </tr>
        </table>
    }
</div>
