@model IEnumerable<CRIMAS.Models.CustomerSavings>
@using CRIMAS.Models;
@using System.Globalization;
@using System.Threading;

@{
    ViewBag.Title = "CheckAccount";
    Layout = "~/Views/Shared/_CashierLayoutPageWithCommonTasks.cshtml";

    
      
}

<div class="subheading">
    <span>
        <img src="~/Images/Customer-small.png" style="padding-right: 20px;" />Account holder's status of account.  </span>
</div>
<br />
 <a href="~/Home/cashier" style="float:right;margin-right:25px; width:290px; padding:10px" class="btn btn-primary"><img src="~/Images/Home.png"/>&nbsp;&nbsp;Take me home!</a><br /><br />
<div class="add-user-heading" style="padding-bottom: 20px;">
    <span style="float: right; padding-right: 20px; ">
        <a href="~/CustomerSavings/CreditAccount" class="btn btn-info"><img src="~/Images/CreditAccount.png" />Credit account</a>
        <a href="~/CustomerSavings/DebitAccount" class="btn btn-danger"><img src="~/Images/DebitAccount.png" />debit account</a>
    </span>
    <p style="margin-bottom:40px; font-style:italic">What would you like to do?</p>

</div>
<br />
<div style="padding-left: 20px; padding-bottom: 20px; padding-right: 20px">
    <div>
        @{
            var accountno = from s in Model select s.AccountNo;

            var dateCreated = from s in Model select s.DateCreated;

            var name = from s in Model select s.Name;
                        
            string strAcc = accountno.LastOrDefault();

            var totalCredits = (from s in Model select s.Credit).Sum();

            var totalDebits = (from s in Model select s.Debit).Sum();

            var balance = (totalCredits - totalDebits);

            //var db = new CrimasDb();

            //var CustomerName = from s in db.Customers
            //                   where s.AccountNo == strAcc
            //                   select s;

            //Set Culture info for currency
            CultureInfo cultureInfo = new CultureInfo("en-US");
            cultureInfo.NumberFormat.CurrencySymbol = "₦";

            Thread.CurrentThread.CurrentCulture = cultureInfo;      
                
           // foreach (var item in Model)
            //{
                <label style="font-size:16pt; text-align:center"> <b>@name.FirstOrDefault()</b></label>    
                <span style="color:green; font-style:italic; text-align:center"><label>Account Opening date: @dateCreated.LastOrDefault() </label></span><br />
                  
           // }
        }
    </div>
    <div style="float: left">
        <label>Account number: <b>@accountno.LastOrDefault()</b></label>
    </div>
    @{
        if (balance <= 0)
        {
        <div style="float: right; padding-right: 20px;">balance:
            <label style="color: red"><b>-@string.Format("{0:C}", @balance)</b> <b>(NGN)</b></label></div>
        }
        if (balance > 0)
        {
        <div style="float: right; padding-right: 20px;">balance:
            <label style="color: blue"><b>@string.Format("{0:C}", @balance)</b> <b>(NGN)</b></label></div>
        }
    }

    <br />
    <br />
    <label style="text-align: left"><b>Transaction history:</b></label>
    <table class="table table-bordered">
        <tr style="background-color: #2A3333; color: whitesmoke">
            <td>Date</td>
            <td>Credits</td>
            <td>Debits</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DateCreated</td>
                <td>@item.Credit</td>
                <td>@item.Debit</td>
            </tr>
        }

    </table>

</div>
